/******popup csss**************/

button {
    border: none;
}

.sign_up_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign_up_icon p figure {
    width: 56%;
    margin: 0px auto;
}

.sign_up_icon p span {
    font-size: 17px;
    font-weight: 600;
    margin-top: 6px;
    display: block;
}

.sign_up_icon p {
    width: 15%;
}

.setting_popup h2 {
    background: #c1c8d9;
    padding: 7px 9px;
    font-size: 17px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
}

.col_left {
    margin-right: 4px;
}

.setting_popup_bx {
    margin-top: 2rem;
}

.column {
    display: flex;
    width: 636px;
}

.setting_compent {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    margin-top: 15px;
}

.setting_icon {
    width: 6%;
}

.setting_dropdown {
    width: 93%;
    margin-left: auto;
}

.setting_dropdown label {
    width: 100%;
}

.setting_dropdown select {
    width: 100%;
    padding: 7px 0px;
    border: none;
    border-bottom: 1px solid #ccc;
}

.setting_popup {
    margin-bottom: 19px;
}

.setting_icon svg {
    width: 30px;
    height: 24px;
}

h2.plz_login {
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    background: #97334B;
    padding: 6px 0px;
    font-size: 24px;
    margin-bottom: 14px;
    color: #fff;
}

.close_theme {
    width: 30px;
    height: 30px;
    border: #fff;
    color: #fff;
    background: #97334b;
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: 20px;
}

.close1 {
    position: absolute;
    top: -14px;
    right: -13px;
    color: white;
    opacity: 1;
    background: #000;
    border-radius: 50px;
    height: 30px;
    width: 30px;
}

.product_detail_left_inner {
    position: relative;
}

.img-zoom-lens {
    position: absolute;
    border: 1px solid black;
    /*set the size of the lens:*/
    width: 40px;
    height: 40px;
}

.img-zoom-result {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 300px;
    height: 300px;
    overflow: visible;
}

#imgZoom {
    height: 300;
}

#overlay {
    border: 1px solid black;
    width: 352px;
    height: 220px;
    display: inline-block;
    background-image: url('https://appgrowthcompany.com:3083/images/uploads/product/images-1595247608272.jpg');
    background-repeat: no-repeat;
}

.card_box {
    border: solid 0px;
    box-shadow: 0 0 10px #bdbaba4d;
    width: 100%;
    padding: 10px;
}

.header_top {
    position: relative;
    width: 100%;
}

.top-header {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #DADADA;
}

.top-header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header_inner span {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    margin-left: 6px;
    cursor: pointer;
}

ul.header-top-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.header-top-links li {
    margin-right: 25px;
}

ul.header-top-links li:last-child {
    margin-right: 0;
}

ul.header-top-links a:hover {
    color: #FF9A03;
}

.logoheader .header-logo img {
    width: 100%;
}

.logoheader .pull-left {
    display: flex;
    align-items: center;
    width: 60%;
}

.logoheader .header-search form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.logoheader .header-search input,
select.input.search-categories {
    padding: 11px 8px;
    border: none;
    background-color: transparent;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.logoheader .header-search input.input.search-input {
    width: 70%;
    border: 1px solid #DADADA;
}

.logoheader button.search-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
}

.logoheader .account_main .dropdown-menu i.fa.fa {
    color: #FF9A03;
}

.logoheader .account_main .btn-primary {
    position: relative;
    border-radius: 0;
    color: #fff;
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// .logoheader .account_main .btn-primary::before {
//     height: 28px;
//     position: absolute;
//     content: '';
//     border-right: 1px solid #DEDEDE;
//     right: 0px;
// }
li.dropdown.categories_dropdown.open .dropdown-menu {
    display: none;
}

.logoheader .account_main .btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background: none;
    border: none;
    box-shadow: unset;
}

.logoheader .head_btns i {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    line-height: normal;
    text-align: center;
    color: #D1D1D1;
    background-color: #FFF;
    border: 1px solid #DADADA;
    border-radius: 10px;
}

.logoheader ul.dropdown-menu li {
    display: flex;
    align-items: center;
    padding: 11px 20px;
    width: 100%;
    max-height: 40px;
}

.logoheader ul.dropdown-menu {
    border: none;
    min-width: 100%;
    border-top: 2px solid #FF9A03 !important;
    border-radius: 0 !important;
    top: 56px;
    box-shadow: 0 9px 7px #00000014;
}

.dropdown-menu>li>a {
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    font-size: 14px;
}

.logoheader ul.dropdown-menu li:hover {
    background: #FF9A03;
    color: #FFF;
}

.logoheader ul.dropdown-menu li:hover .profile_outer_right a {
    color: #fff;
}

.logoheader ul.dropdown-menu li:hover .without_hover {
    display: none;
}

.logoheader ul.dropdown-menu li:hover .hover {
    display: block;
}

.logoheader .dropdown-menu>li:focus>a,
.dropdown-menu>li:hover>a {
    background: none;
    color: #FFF;
}

#third_header .logoheader .dropdown-menu>li:focus>a,
#third_header .dropdown-menu>li:hover>a {
    background: none;
    color: #FF9A03;
}

.header-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    li {
        &:first-child {
            width: 45%;
        }
    }
}

span.qty.header-cart {
    position: absolute;
    background: #f8f2f3;
    padding: 0;
    border-radius: 100px;
    top: -5px;
    font-size: 9px!important;
    height: 17px;
    width: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold!important;
    left: 16px;
    color: #000;
}

.logoheader .header-btns-icon.cart {
    position: relative;
}

.logoheader span .text-uppercase {
    color: #30323A;
}

.logoheader .text-uppercasess h5 {
    color: #30323A;
    font-weight: 700;
}

.logoheader .text-uppercasess {
    text-align: left;
}

.logoheader .text-uppercasess span {
    font-size: 12px;
}

.logoheader .product-thumb img {
    width: 100%;
}

.logoheader .product.product-widget {
    position: relative;
    margin-top: 15px;
}

.logoheader .product.product-widget .product-price {
    font-size: 13px;
    margin-bottom: 5px;
}

.logoheader .product.product-widget .product-price h3,
a {
    color: #30323A;
    margin: 0px;
}

.logoheader .product.product-widget_inner {
    display: flex;
    align-items: center;
    padding: 15px 25px 0;
}

.logoheader #shopping-cart .shopping-cart-list {
    max-height: 260px;
    margin-bottom: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: hidden;
}

.logoheader #shopping-cart .shopping-cart-list .product.product-widget:first-child {
    margin-top: 0px;
}

.logoheader .product.product-widget .product-thumb {
    width: 60px;
    background: #d2d2d2;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoheader .product.product-widget .product-body {
    padding-left: 15px;
    min-height: 60px;
}

.logoheader .product.product-widget .product-name {
    font-size: 14px;
}

.logoheader .product.product-widget .cancel-btn {
    position: absolute;
    right: 10px;
    top: 7px;
    background-color: transparent;
    border: none;
    color: #DADADA;
    padding: 0 !important;
}

.logoheader .main-btn {
    color: #30323A;
    background-color: #FFF;
    -webkit-box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 6px transparent;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 6px transparent;
}

.logoheader .primary-btn {
    color: #FFF;
    background-color: #FF9A03;
}

.logoheader .primary-btn {
    color: #FFF;
    box-shadow: unset;
    font-weight: 400;
    font-size: 15px;
    text-transform: capitalize;
}

.btn-primary:hover {
    color: #fff;
    background-color: #FFCB08;
    border-color: #FFCB08;
}

.logoheader .custom-menu {
    width: 290px;
}

.logoheader i.fa.fa-arrow-circle-right {
    color: #fff!important;
}

.logoheader button.cart {
    border: none;
    padding: 10px 0;
    text-align: center;
    width: 48%;
    border-radius: 5px;
}

.logoheader .shopping-cart-btns {
    display: flex;
    justify-content: space-between;
}

.logoheader div#header {
    padding: 12px 0;
}

.logoheader button.cart:hover {
    background: #000;
    color: #fff;
}

.R_category_list {
    display: flex;
    align-items: center;
    ul {
        display: flex;
        li {
            a {
                font-size: 14px;
                padding: 0px 10px;
                color: #707070;
                font-weight: 600;
            }
        }
    }
}

#navigation .dropbtn {
    padding: 15px;
    display: block;
    text-transform: uppercase;
    background: #F5F5F5;
    color: #707070;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    border: none;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    i {
        margin-left: 50px;
    }
}

#navigation .navbar-nav li a:hover {
    color: #FFCB08 !important;
}

#navigation .dropdown {
    position: relative;
    display: inline-block;
}

#navigation .dropdown-content {
    display: none;
    position: absolute;
    padding: 10px 0px;
    background-color: #f9f9f9;
    min-width: 270px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9;
}

#navigation .dropdown-content a {
    color: black;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: normal;
    font-size: 16px;
    font-weight: 500;
}

#navigation .dropdown-content a:hover {
    background-color: #f1f1f1
}

#navigation .dropdown:hover .dropdown-content {
    display: block;
}

#navigation {
    z-index: 9;
    padding-top: 183px;
    background: #fff;
}

// box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
#navigation .navbar-nav>li>a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: normal;
    padding: 15px !important;
    color: #707070;
    text-transform: uppercase;
    margin: 0;
    cursor: pointer;
    display: block;
}

#navigation .myNavbar_outter {
    padding-right: 0;
    padding-left: 0;
    display: inline-block;
    vertical-align: middle;
}

#navigation .nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background: none!important;
}

.nav>li>a:hover {
    text-decoration: none;
    background: none;
}

#navigation .navbar-header {
    display: inline-block;
    float: none;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    padding: 0px;
}

li.dropdown.categories_dropdown {
    width: 100%;
}

li.dropdown.categories_dropdown i.fa.fa-angle-right {
    color: #97334b;
    font-size: 17px;
    float: right;
}

.dropdown-toggle::after {
    content: unset;
}

li.dropdown.categories_dropdown ul.dropdown-menu {
    border-left: 2px solid #FF9A03;
    left: 100%;
    top: 0;
    width: 750px;
}

li.dropdown.categories_dropdown h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.women_product {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

li.dropdown.categories_dropdown ul.dropdown-menu {
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px #00000030;
    .list-links {
        padding: 20px;
    }
}

// li.dropdown.categories_dropdown ul.dropdown-menu a {
//     padding: 0!important;
// }
.product_img img {
    width: 100%;
}

#navigation .dropdown-content li.dropdown.categories_dropdown a:hover {
    background: none;
    color: #97334b;
}

li.dropdown.categories_dropdown.second {
    width: 750px;
    padding: 15px;
}

li.dropdown.categories_dropdown.second a:hover {
    color: #97334b;
}

li.dropdown.categories_dropdown.second li {
    margin-bottom: 10px;
}

.dropdown-menu {
    padding: 0;
}

div#header {
    padding: 20px 0 20px 0;
    background: #97334B;
}

select.input.search-categories {
    border: 1px solid #DADADA;
    border-right: none;
}

.hover {
    display: none;
}

.profile_outer {
    display: flex;
    align-items: center;
    width: 100%;
}

.profile_outer_left {
    width: 24%;
}

.profile_outer_right a {
    color: #000000;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    margin: 0;
}

.l_r_btn {
    color: #97334B;
    background: #fff;
    padding: 17px 15px;
    border-radius: 4px;
    margin-left: 5px;
    h4 {
        font-size: 18px;
    }
}

.dropdown.Categories_drop {
    width: 40%;
}

.dropdown.Categories_drop button {
    width: 100%;
    background-color: #FF9A03;
    border: unset;
    padding: 13px 20px;
    color: #fff;
    line-height: normal;
    font-weight: 600;
    font-size: 17px;
}

.inner_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Categories_drop span.caret {
    color: #fff !important;
}

ul.header-btns {
    li {
        margin-left: 0px;
        align-items: center;
        display: flex;
    }
    .headerlike {
        margin: 0px 15px;
    }
}

ul.header-btns li:last-child {
    margin-right: 0;
}

.login_inner_links {
    display: flex;
    margin-left: 6px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.head_btns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.log_in_links_ a {
    margin-right: 7px;
    color: #000;
    line-height: normal;
    display: inline-block;
    margin-bottom: 0;
}

.log_in_links_ a span {
    color: #000;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
}

.profile_outer_right {
    cursor: pointer;
}

.profile_outer_left {
    cursor: pointer;
}

.dropdown-menu {
    border: unset !important;
}

div#shopping-cart {
    padding: 15px;
}

.shopping-cart-btns a button {
    width: 100% !important;
}

.shopping-cart-btns a {
    width: 48%;
}

.profile_outer_right {
    width: 85%;
}

.profile_outer_right a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nunu_top_header {
    border: none;
    background: #F8F2F3;
    color: #640018;
    padding: 12px 0;
}

.nunu_left_bar {
    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        li {
            display: flex;
            padding: 2px 5px;
            border: #640018 solid 1px;
            margin-left: 20px;
            align-items: center;
            &:nth-child(1) {
                padding: 0px 0px;
                border: none;
                margin-left: 0px;
            }
            h4 {
                font-size: 12px;
            }
            figure {
                width: 30px;
                padding-right: 5px;
                display: inline-flex;
            }
            label {
                margin: 0;
                font-size: 12px;
                select {
                    background: inherit;
                    border: none;
                    option {
                        color: #333;
                    }
                }
            }
        }
    }
}

.header_main_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout_wrap .btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus {
    background: none!important;
}

.icon_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon_header i {
    font-size: 18px;
    margin-right: 6px;
}

.nunu_right_bar {
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            h4 {
                font-size: 12px;
            }
            margin-right: 0px;
            margin-left: 16px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.left_bar {
    width: 10%;
}

.medium_bar {
    width: 55%;
    input {
        padding-left: 10px;
    }
}

.right_bar {
    width: 35%;
}

.icon_header figure {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.filter_dropdown {
    a {
        font-size: 18px;
        color: #fff;
        i {
            vertical-align: top;
            padding: 0px 3px;
        }
    }
    .dropdown-menu {
        box-shadow: 0 0 20px #00000042;
        a {
            color: #97334B;
            &:hover {
                background-color: #f8f2f3;
            }
        }
    }
}

.shopping_cart_box {
    position: relative;
    figure {
        width: 25px;
        height: auto;
        display: flex;
        svg {
            width: 100%;
            height: 100%;
        }
    }
}

.cart_div {
    a {
        margin: 0px;
        display: flex;
        align-items: center;
    }
}

// .header-btns-icon figure {
//     width: 27px;
//     height: 24px;
//     margin: auto;
// }
.header-btns-icon figure {
    width: 100%;
    height: 100%;
    margin: auto;
}

.header-btns-icon figure img {
    object-fit: cover;
}

a.logo figure {
    width: 100%;
}

.header_top_outer_inner {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    z-index: 10;
}

// .logoheader .header-btns-icon{width:40px;height:40px;line-height:40px;text-align:center;color:#30323A;}
.logoheader .header-btns-icon {
    width: 40px;
    height: 40px;
    text-align: center;
    color: #30323A;
    border-radius: 50px;
    overflow: hidden;
}

.mat-form-field {
    width: 90%;
    line-height: unset;
}

.mobile_opt {
    display: none;
}

@media(max-width:1500px) {
    .left_bar {
        width: 6%;
    }
    .medium_bar {
        width: 60%;
    }
    .right_bar {
        width: 30%;
    }
    div#header {
        padding: 10px 0 10px 0;
        display: inline-block;
        width: 100%;
    }
    .nunu_top_header {
        padding: 5px 0;
    }
    #navigation {
        padding-top: 124px;
    }
    ul.header-btns li {
        &:first-child{ 
            width: 40%; 
            margin: 0 auto;
        }
        margin-right: 0;
    }
    .logoheader .account_main .btn-primary {
        padding: 2px 15px;
    }
    .logoheader ul.dropdown-menu {
        left: -190px;
    }
    .l_r_btn {
        padding: 14px 10px;
    }
}

@media(max-width:1100px) {
    #navigation {
        padding-top: 129px;
    }
    .l_r_btn {
        padding: 14px 10px;
    }
    .logoheader .header-logo img {
        width: 76px;
    }
    .header-btns li:first-child {
        width: 52%;
    }
}

@media(max-width:992px) {
    .medium_bar {
        width: 50%;
    }
    .right_bar {
        width: 40%;
    }
    #navigation {
        padding-top: 102px;
        .dropbtn {
            padding: 10px 15px;
        }
        .navbar-nav {
            li {
                a {
                    padding: 10px !important;
                }
            }
        }
    }
    .search_button {
        padding: 8px 8px;
        width: 36px;
        height: 36px;
        figure {
            width: 80%;
            margin: auto;
            display: inline-flex;
        }
    }
    .nunu_left_bar {
        width: 55%;
        ul li {
            margin-left: 10px;
            h4 {
                font-size: 10px;
            }
        }
        .loc_bx {
            width: 110px;
            height: 24px;
        }
    }
    .nunu_right_bar {
        width: 42%;
        ul {
            justify-content: flex-end;
            li {
                margin-right: 10px;
                h4 {
                    font-size: 10px;
                }
            }
        }
        .icon_header {
            h4 {
                font-size: 13px;
            }
        }
    }
    ul.list_cat {
        width: 65%;
        li {
            h3 {
                font-size: 16px;
            }
        }
    }
    .left_bar {
        width: 7%;
    }
    .l_r_btn {
        padding: 10px 10px;
        h4 {
            font-size: 14px;
        }
    }
    .filter_dropdown a {
        font-size: 14px;
    }
    .shopping_cart_box figure {
        width: 20px;
    }
    li.dropdown.categories_dropdown ul.dropdown-menu {
        width: 400px;
    }
    // Sudhir css Starts
    .header-btns li:first-child {
        width: 55%;
    }
    // Sudhir css Closed
}

@media(max-width:767px) {
    .header_top_outer {
        position: fixed;
        width: 100%;
        z-index: 10;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        .header_top_outer_inner {
            position: relative;
        }
        #navigation {
            padding-top: 0px;
            width: 14%;
            position: absolute;
            bottom: 10px;
            box-shadow: none;
            .navbar {
                box-shadow: none;
                .dropbtn {
                    span {
                        display: none;
                    }
                    i {
                        margin: 0px;
                    }
                }
            }
        }
    }
    .header_bg {
        width: 100%;
        position: relative;
        padding-top: 210px;
        display: block;
    }
    .top-header_inner {
        flex-wrap: wrap;
        .left_bar {
            width: 20%;
        }
        .medium_bar {
            width: 75%;
        }
        // .right_bar {
        //     width: 100%;
        //     padding-top: 10px;
        //     .account_main {
        //         .header-btns {
        //             justify-content: center;
        //             width: 90%;
        //             margin-left: 10%;
        //         }
        //     }
        // }
    }
    .side_nav {
        display: none;
    }
    .nunu_top_header {
        width: 100%;
    }
    div#header {
        padding-top: 20px;
    }
    .header_main_bar {
        flex-wrap: wrap;
        .nunu_left_bar {
            width: 100%;
        }
        .nunu_right_bar {
            display: none;
            // ul {
            //     flex-wrap: wrap;
            //     li {
            //         width: 45%;
            //         padding: 5px 0px;
            //         .services_header {
            //             .icon_header {
            //                 justify-content: flex-start;
            //                 figure {
            //                     width: 15px;
            //                     margin-right: 15px;
            //                 }
            //             }
            //         }
            //     }
            // }
        }
    }
    li.dropdown.categories_dropdown ul.dropdown-menu {
        width: 100%;
        position: unset;
        box-shadow: unset;
    }
    li.dropdown.categories_dropdown.open .dropdown-menu {
        display: block;
    }
    div#header {
        padding: 10px 0 10px 0;
    }
    .header_top_outer #navigation {
        width: 100%;
    }
    .right_bar {
        display: none;
        width: 20%;
        .header-btns {
            li {
                &:nth-child(1),
                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }
    .header_top_outer #navigation {
        bottom: -34px;
    }
    .header_bg {
        padding-top: 105px;
    }
    .nunu_left_bar {
        ul {
            justify-content: space-between;
            li:nth-child(1) {
                width: 100%;
                padding-bottom: 10px;
                h4 {
                    font-size: 14px;
                }
            }
        }
    }
    .top-header_inner {
        .left_bar {
            // display: none;
            figure {
                img {
                    width: 100%;
                }
            }
        }
        .medium_bar {
            width: 65%;
        }
    }
    // .mobile_opt {
    //     width: 15%;
    //     .header-btns {
    //         justify-content: space-between;
    //         width: 80%;
    //         margin: 0 auto;
    //         li {
    //             &:nth-child(1),
    //             &:nth-child(2) {
    //                 display: block;
    //             }
    //         }
    //         li {
    //             width: 30%;
    //             display: flex;
    //             justify-content: center;
    //         }
    //         li:first-child {
    //             width: 30%;
    //             i {
    //                 font-size: 30px;
    //                 color: #fff;
    //             }
    //         }
    //         .sort_by {
    //             figure {
    //                 img {
    //                     width: 80px;
    //                     height: 40px;
    //                 }
    //             }
    //         }
    //     }
    // }
    .R_category_list {
        width: 80%;
        overflow: auto;
        ul {
            li {
                white-space: nowrap;
            }
        }
    }
    .mobile_opt {
        width: 15%;
        display: block;
        .profile_part {
            position: absolute;
            left: 5%;
            top: 10px;
        }
        .header-btn {
            // justify-content: space-between;
            display: block;
            width: 80%;
            margin: 0 auto;
            padding-left: 0px;
            li {
                width: 100%;
                display: flex;
                // justify-content: center;
                height: 30px;
                margin: 10px 0px;
                p {
                    color: #fff;
                    text-align: left;
                }
            }
            .lang {
                figure {
                    width: 30px;
                    margin-right: 8px;
                    display: inline-flex;
                }
                label {
                    width: 60%;
                    margin: 0px;
                }
            }
            .sort_by {
                width: 100%;
                padding: 0px 0px;
                margin-bottom: 0px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                h5 {
                    color: #fff;
                    font-size: 16px;
                }
                figure {
                    width: 100%;
                    // padding: 5px 0px 10px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    img {
                        width: 20px;
                        margin-right: 10px;
                    }
                    p {
                        width: 75%;
                    }
                }
            }
        }
        .sidepanel {
            width: 150px;
            position: fixed;
            z-index: 1;
            height: 100vh;
            top: 0;
            right: -160px;
            background-color: #97334b;
            overflow-x: hidden;
            transition: 0.5s;
            padding: 60px 0px 10px;
        }
        // .sidepanel a {
        //     padding: 8px 8px 8px 32px;
        //     text-decoration: none;
        //     font-size: 25px;
        //     color: #818181;
        //     display: block;
        //     transition: 0.3s;
        // }
        // .sidepanel a:hover {
        //     color: #f1f1f1;
        // }
        .sidepanel .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 25px;
            color: #fff;
        }
        .openbtn {
            font-size: 20px;
            cursor: pointer;
            background-color: unset;
            color: white;
            padding: 10px 15px;
            border: none;
        }
        // .openbtn:hover {
        //     background-color: #444;
        // }
    }
    .celebrity_list li .selection_mains figure {
        height: 110px;
    }
}

@media(max-width:468px) {
    div#header {
        padding: 10px 0 10px 0;
    }
    .header_top_outer #navigation {
        width: 100%;
    }
    .header_top_outer #navigation {
        bottom: -34px;
    }
    .header_bg {
        padding-top: 95px;
    }
    .nunu_left_bar {
        ul {
            justify-content: space-between;
            li:nth-child(1) {
                width: 100%;
                padding-bottom: 10px;
                h4 {
                    font-size: 14px;
                }
            }
        }
    }
    .top-header_inner .left_bar {
        width: 15%;
    }
    .shopping_cart_box figure {
        margin-right: 10px;
    }
    span.qty.header-cart {
        top: -8px;
        left: 6px;
    }
    .mat-form-field {
        width: 80%;
    }
    .celebrity_list li .selection_mains figure {
        width: 100%;
        height: 100px;
    }
}