<div class="header_top">
    <div class="header_top_outer">
        <div class="header_top_outer_inner">
            <div class="nunu_top_header">
                <div class="conta_iner">
                    <div class="header_main_bar">
                        <div class="nunu_left_bar">
                            <ul>
                                <li>
                                    <h4>{{"HEADER.CALLUS" | translate}} : <span class="nm_rvrs"> <span> (+1) </span>
                                            <span> 866-540-3229 </span> </span>
                                    </h4>
                                </li>
                                <li class="arb_lng"> 
                                    <figure> <img [src]="imgflag" alt=""> </figure>
                                    <label>
                                        <!-- <select #langSelect (change)="languageChange(langSelect.value)">
                                          <option
                                            *ngFor="let lang of translate.getLangs()" (change)="languageChange($event.target.value)"
                                            [value]="lang" (change)="languageChange($event.target.value)"
                                            [selected]="language == translate.currentLang">{{ lang }}</option>
                                        </select>  -->
                                        <select [(ngModel)]="language" (change)="languageChange($event.target.value)">
                                            <option value='en' [selected]="language == 'en'">EN</option>
                                            <option value='arb' [selected]="language == 'ard'">ARB</option>
                                        </select>
                                    </label>
                                </li>
                                <li class="loc_bx">
                                    <!-- {{address_value}} -->
                                    <mat-form-field [floatLabel]="'never'">
                                     <input class="loc_src" matInput type="text" [(ngModel)]="address_value"  ngx-google-places-autocomplete #placesRef="ngx-places" placeholder="{{language == 'en' ? 'Enter Address' : 'أدخل العنوان'}}"   (onAddressChange)="AddressChange($event)">
                                    </mat-form-field>
                                </li>
                            </ul>
                        </div>
                        <div class="nunu_right_bar">
                            <ul>
                                <li>
                                    <div class="services_header">
                                        <div class="icon_header">
                                            <figure><img src="assets/images/header_truck.svg"></figure>
                                            <h4>{{language == 'en' ? EASY_RETURNS?.name : EASY_RETURNS?.name_ar}}</h4>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="services_header">
                                        <div class="icon_header">
                                            <figure><img src="assets/images/header_truck2.svg"></figure>
                                            <h4>{{language == 'en' ? SECURE_SHOPPING?.name : SECURE_SHOPPING?.name_ar}}</h4>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="services_header">
                                        <div class="icon_header">
                                            <figure><img src="assets/images/header_truck3.svg"></figure>
                                            <h4>{{language == 'en' ? trusted_shipping?.name : trusted_shipping?.name_ar}}</h4>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="header" class="logoheader">
                <div class="conta_iner">
                    <div class="top-header_inner">
                        <div class="left_bar">
                            <div class="inner_header">
                                <div class="header-logo">
                                    <a class="logo" (click)="goTohome()">
                                        <figure><img style="cursor: pointer;" src="assets/images/logo.svg"></figure>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="medium_bar">
                            <div class="search_bar_inner">
                                <div class="search_input">
                                    <mat-form-field [floatLabel]="'never'">
                                        <input matInput type="text" [(ngModel)]="searchval" (keypress)="getresult()"
                                            placeholder="{{ 'HEADER.SEARCHQ' | translate}}" name="name">
                                    </mat-form-field>
                                    <div class="search_button" style="cursor: pointer;" (click)="searchtext($event)">
                                        <figure>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="22.477" height="22.477"
                                                viewBox="0 0 22.477 22.477">
                                                <g id="magnifying-glass" transform="translate(-11 -11)">
                                                    <path id="Path_1204" data-name="Path 1204"
                                                        d="M33.2,31.88l-5.4-5.4A9.465,9.465,0,1,0,26.472,27.8l5.4,5.4A.936.936,0,0,0,33.2,31.88ZM20.472,28.059a7.589,7.589,0,1,1,7.592-7.587A7.6,7.6,0,0,1,20.472,28.059Z"
                                                        fill="#fff" />
                                                </g>
                                            </svg>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <!-- (keyup)="searchtext($event)" -->
                        </div>
                        <div class="mobile_opt">
                            <div id="mySidepanel" class="sidepanel">
                                <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">x</a>
                                <div class="header-account profile_part">
                                    <button *ngIf="isloggin" class="btn profile_btn" type="button"
                                        (click)="goToprofile()">
                                        <div class="header-btns-icon">
                                            <figure *ngIf="!this.profilepicdata"><img data-toggle="modal"
                                                    data-target="#myModal" src="assets/images/user.png">
                                            </figure>
                                            <figure *ngIf="this.profilepicdata"><img data-toggle="modal"
                                                    data-target="#myModal" [src]="imgurl+profilepicdata">
                                            </figure>
                                        </div>
                                    </button>
                                    <button *ngIf="!isloggin" class="l_r_btn">
                                        <h4 (click)="logindirect()"> {{language == 'en' ? 'Login' : 'تسجيل الدخول'}}
                                        </h4>
                                    </button>
                                </div>
                                <ul class="header-btn">
                                    <!-- <li>
                                        <a (click)="goTohome()"> <i class="fa fa-home" aria-hidden="true"></i> </a>
                                    </li> -->
                                    <li class="sort_by">
                                        <!-- <h5> Sort by </h5> -->
                                        <figure *ngIf="checktoken != 'M'" (click)="Selectshop(checktoken)"> <img
                                                src="assets/images/male.svg" alt="">
                                            <p>{{language == 'en' ? 'Men' : 'رجال'}}</p>
                                        </figure>
                                        <figure *ngIf="checktoken != 'F'" (click)="Selectshop(checktoken)"> <img
                                                src="assets/images/female.svg" alt="">
                                            <p>{{language == 'en' ? 'Women' : 'نساء'}}</p>
                                        </figure>
                                    </li>
                                    <li class="headerlike" (click)="goTowishlist()">
                                        <div class="shopping_cart_box">
                                            <figure style="cursor: pointer;">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.916 20.345">
                                                    <g id="noun_Hearts_748816" transform="translate(-97.119 -82.035)">
                                                        <path id="Path_2451" data-name="Path 2451"
                                                            d="M27.248,14.283a6.51,6.51,0,0,0-9.231.014l-.35.35a.129.129,0,0,1-.182,0l-.35-.35A6.51,6.51,0,0,0,7.9,14.284a6.394,6.394,0,0,0,.087,8.954l9.4,9.4a.257.257,0,0,0,.364,0l9.4-9.4A6.394,6.394,0,0,0,27.248,14.283Z"
                                                            transform="translate(91 69.664)" fill="#fff" />
                                                    </g>
                                                </svg>
                                            </figure>
                                        </div>
                                        <p> {{language == 'en' ? "Favourite" : 'مفضل'}} </p>
                                    </li>
                                    <li class="header-account cart_div" (click)="goTocart()">
                                        <div class="head_btns">
                                            <div class="shopping_cart_box">
                                                <figure>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24.75" height="22"
                                                        viewBox="0 0 24.75 22">
                                                        <g id="Cart" transform="translate(-334.225 -220)">
                                                            <path id="Icon_awesome-shopping-cart"
                                                                data-name="Icon awesome-shopping-cart"
                                                                d="M22.693,12.947,24.724,4.01a1.031,1.031,0,0,0-1.006-1.26H6.841L6.447.825A1.031,1.031,0,0,0,5.437,0H1.031A1.031,1.031,0,0,0,0,1.031v.688A1.031,1.031,0,0,0,1.031,2.75h3L7.053,17.507a2.407,2.407,0,1,0,2.881.368h9.008a2.406,2.406,0,1,0,2.733-.447l.237-1.043a1.031,1.031,0,0,0-1.006-1.26H9.372L9.091,13.75h12.6A1.031,1.031,0,0,0,22.693,12.947Z"
                                                                transform="translate(334.225 220)" fill="#fff" />
                                                        </g>
                                                    </svg>
                                                </figure>
                                                <span *ngIf="countcartlen > 0"
                                                    class="qty header-cart">{{countcartlen}}</span>
                                                <!-- <span *ngIf="count === 0 || count == 'undefine'"  class="qty header-cart">{{}}</span> -->
                                            </div>
                                        </div>
                                        <p> {{language == 'en' ? 'My Cart' : 'عربتي'}} </p>
                                    </li>
                                    <li class="lang">
                                        <figure> <img [src]="imgflag" alt=""> </figure>
                                        <label>
                                            <!-- <select  [(ngModel)]="language" (change)="languageChange($event.target.value)">
                                                    <option value = 'en' [selected]="language == 'en'">EN</option>
                                                    <option value = 'arb' [selected]="language == 'ard'">ARB</option>
                                                </select>-->
                                            <mat-form-field appearance="fill">
                                                <mat-select [(ngModel)]="language"
                                                    (selectionChange)="languageChange($event.value)">
                                                    <mat-option value='en' [selected]="language == 'en'">EN</mat-option>
                                                    <mat-option value='arb' [selected]="language == 'ard'">ARB
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </label>
                                    </li>
                                    <li>
                                        <input name="address" ngx-google-places-autocomplete="" type="text" class="pac-target-input" placeholder="Enter a location" autocomplete="off" style="border: none; width: 100%;"> </li>
                                    <!-- <li class="lang">
                                        <label>
                                            <select (change)="checkCode($event.target.value)">
                                                <option *ngFor="let item of countryFlg" [value]="item.countryCode"
                                                    [selected]="item.countryCode == countryCode">{{item.flag}}
                                                    {{item.currencyCode}}</option>
                                            </select>
                                        </label>
                                    </li> -->
                                </ul>
                            </div>
                            <button class="openbtn" (click)="openNav()">☰</button>
                        </div>
                        <div class="right_bar">
                            <div class="account_main">
                                <ul class="header-btns">
                                    <li class="header-account dropdown profile_part">
                                        <button *ngIf="isloggin" class="btn btn-primary dropdown-toggle" type="button"
                                            data-toggle="dropdown" (click)="goToprofile()">
                                            <div class="header-btns-icon">
                                                <figure *ngIf="!this.profilepicdata"><img data-toggle="modal"
                                                        data-target="#myModal" src="assets/images/user.png"></figure>

                                                <figure *ngIf="this.profilepicdata"><img data-toggle="modal"
                                                        data-target="#myModal" [src]="imgurl+profilepicdata"></figure>
                                            </div>
                                            <span class="text-uppercase" *ngIf="!isloggin"
                                                (click)="openmodal()">{{"PROFILE.ACCOUNT" | translate}}</span>
                                            <span class="text-uppercase" *ngIf="isloggin">{{firstname }}</span>
                                        </button>
                                        <button *ngIf="!isloggin" class="l_r_btn">
                                            <h4 (click)="logindirect()"> {{"HEADER.LOGREG" | translate}} </h4>
                                        </button>
                                    </li>
                                    <li>
                                        <div class="filter_dropdown dropdown">
                                            <a type="button" *ngIf="language == 'en'" (click)="Selectshop(checktoken)">
                                                {{checktoken != 'M' ? 'Men' : 'Women'}}
                                            </a>
                                            <a type="button" *ngIf="language == 'arb'" (click)="Selectshop(checktoken)">
                                                {{checktoken != 'M' ? 'نساء' : 'جميع الاقسام'}}
                                            </a>
                                        </div>
                                    </li>
                                    <!-- <li class="headerlike" (click)="goTowishlist()" *ngIf="isloggin"> -->
                                    <li class="headerlike" (click)="goTowishlist()">
                                        <div class="shopping_cart_box">
                                            <figure style="cursor: pointer;">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.916 20.345">
                                                    <g id="noun_Hearts_748816" transform="translate(-97.119 -82.035)">
                                                        <path id="Path_2451" data-name="Path 2451"
                                                            d="M27.248,14.283a6.51,6.51,0,0,0-9.231.014l-.35.35a.129.129,0,0,1-.182,0l-.35-.35A6.51,6.51,0,0,0,7.9,14.284a6.394,6.394,0,0,0,.087,8.954l9.4,9.4a.257.257,0,0,0,.364,0l9.4-9.4A6.394,6.394,0,0,0,27.248,14.283Z"
                                                            transform="translate(91 69.664)" fill="#fff" />
                                                    </g>
                                                </svg>
                                            </figure>
                                            <!-- <span class="qty header-cart">3</span> -->
                                        </div>
                                    </li>
                                    <li class="header-account cart_div dropdown">
                                        <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                                            <div class="head_btns" (click)="goTocart()">
                                                <div class="shopping_cart_box">
                                                    <figure>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24.75"
                                                            height="22" viewBox="0 0 24.75 22">
                                                            <g id="Cart" transform="translate(-334.225 -220)">
                                                                <path id="Icon_awesome-shopping-cart"
                                                                    data-name="Icon awesome-shopping-cart"
                                                                    d="M22.693,12.947,24.724,4.01a1.031,1.031,0,0,0-1.006-1.26H6.841L6.447.825A1.031,1.031,0,0,0,5.437,0H1.031A1.031,1.031,0,0,0,0,1.031v.688A1.031,1.031,0,0,0,1.031,2.75h3L7.053,17.507a2.407,2.407,0,1,0,2.881.368h9.008a2.406,2.406,0,1,0,2.733-.447l.237-1.043a1.031,1.031,0,0,0-1.006-1.26H9.372L9.091,13.75h12.6A1.031,1.031,0,0,0,22.693,12.947Z"
                                                                    transform="translate(334.225 220)" fill="#fff" />
                                                            </g>
                                                        </svg>
                                                    </figure>
                                                    <span *ngIf="countcartlen > 0"
                                                        class="qty header-cart">{{countcartlen}}</span>
                                                    <!-- <span *ngIf="count === 0 || count == 'undefine'"  class="qty header-cart">{{}}</span> -->
                                                </div>
                                                <div class="login_inner_links">
                                                    <!-- <span class="text-uppercase">{{"CART.CART" | translate}}</span> -->
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="navigation" class="third_header">
            <nav class="navbar">
                <div class="conta_iner">
                    <div class="col-12">
                        <div class="row">
                            <div class="navbar-header">
                                <div class="dropdown web_view">
                                    <button class="dropbtn"> <span> {{"CATEGORY.CATEGORY" | translate}} </span> <i
                                            class="fa fa-angle-down"></i></button>
                                    <div class="dropdown-content">
                                        <li class="dropdown categories_dropdown" *ngFor="let Categ of categoryDataVal">
                                            <a class="dropdown-toggle" data-toggle="dropdown"
                                                (mouseover)="getcategoryId(Categ?._id,1)">{{language == 'en' ?
                                                Categ.name : Categ.name_ar}}<i class="fa fa-angle-right"></i></a>
                                            <ul class="dropdown-menu" *ngIf="sublength != 0">
                                                <li>
                                                    <div class="women_product">
                                                        <div class="women_product_inner">
                                                            <ul class="list-links">
                                                                <li>
                                                                    <h3 class="list-links-title">
                                                                        {{"CATEGORY.SUBCATEGORY" | translate}}</h3>
                                                                </li>
                                                                <li *ngFor="let i of subcategeorylist">
                                                                    <a (click)="gotoCategory(i?._id,2)">{{language ==
                                                                        'en' ? i?.name : i?.name_ar}}</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="product_img">
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </div>
                                </div>
                                <div class="dropdown ipad_view">
                                    <button class="dropbtn" data-toggle="collapse" data-target="#category_content">
                                        <span> {{"CATEGORY.CATEGORY" | translate}} </span> <i
                                            class="fa fa-angle-down"></i></button>
                                    <div class="dropdown-content collapse dont-collapse-sm" id="category_content">
                                        <mat-accordion>
                                            <mat-expansion-panel *ngFor="let Categ of categoryDataVal; let i = index"
                                                (mouseover)="getcategoryId(Categ?._id,1)">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        {{language == 'en' ? Categ.name : Categ.name_ar}}
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <p *ngFor="let i of subcategeorylist" (click)="gotoCategory(i?._id,2)"
                                                    style="cursor: pointer;">{{language == 'en' ? i?.name : i?.name_ar}}
                                                </p>
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </div>
                                </div>
                            </div>
                            <div class="R_category_list">
                                <ul>
                                    <li *ngFor="let i of categoryDataVal ; let k = index;"> <a
                                            (click)="getallcatergory(i._id)"> {{language == 'en' ? i?.name :
                                            i?.name_ar}} </a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="header_bg"></div>
</div>