.spinner {
    position: fixed;
    top: -10%;
    left: 0;
    padding: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    width: 200px;
    height: 200px;
}

.login_wrap {
    position: relative;
}

.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #000 !important;
}

.login_form {
    figure {
        margin: 40px 0px;
    }
    h2 {
        font-size: 20px;
        font-weight: bold;
    }
    p {
        font-size: 16px;
    }
    ul {
        display: flex;
        width: 80%;
        margin: 20px auto;
        justify-content: space-between;
        li {
            width: 20%;
            border-bottom: 1px solid #C3C3C3;
            input {
                width: 100%;
                border: none;
                background: none;
                text-align: center;
            }
        }
    }
    p {
        a {
            text-decoration: underline;
        }
    }
}