<div class="login_wrap vrification">
    <div class="conta_iner">
        <div class="login_main">
            <div class="login_logo_img">
                <figure><img src="assets/images/logo.svg"></figure>
            </div>
            <div class="login_form">
                <h4>Veriﬁcation</h4>
                <figure><img src="assets/images/phone.png"></figure>
                <h2>Verifying your Number !</h2>
                <p>We have sent an OTP on your number</p>
                <h2>{{phone}}</h2>
                <ul>
                    <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:4}"></ng-otp-input>
                </ul>
                <button (click)="resendVerification()">Verify</button>
                <p> <a (click)="SendAgain()"> Resend OTP </a> </p>
            </div>
        </div>
    </div>
</div>
<div class="spinere_main">
    <div class="spinner">
        <div class="">
            <mat-progress-spinner *ngIf="isspinner" class="example-margin">
            </mat-progress-spinner>
        </div>
    </div>
</div>