<div class="footer_wrap">
    <div class="conta_iner">
        <div class="outter_footer">
            <ul>
                <li class="footer_part1">
                    <a class="footer_logo"><img src="assets/images/logo_footer.svg" alt=""> </a>
                    <h3> {{"FOOTER.FOLLOW" | translate}}.</h3>
                    <p> {{"FOOTER.FOLLUS" | translate}} </p>
                    <ul class="social_icon">
                        <a (click)="getredirect('Face')">
                            <li>
                                <i class="fa fa-facebook-f"></i>
                            </li>
                        </a>
                        <a (click)="getredirect('Link')">
                            <li>

                                <i class="fa fa-instagram"></i>
                            </li>
                        </a>
                        <a (click)="getredirect('Link')">
                            <li>
                                <i class="fa fa-linkedin"></i>
                            </li>
                        </a>
                        <a (click)="getredirect('Twitter')">
                            <li>
                                <i class="fa fa-twitter"></i>
                            </li>
                        </a>
                    </ul>
                    <h5> {{"FOOTER.GETMARK" | translate}} </h5>
                    <figure class="store_buttons">
                        <a (click)="getredirect('play')"> <img src="assets/images/playstore.png" alt=""> </a>
                        <a (click)="getredirect('app')"> <img src="assets/images/Appstore.png" alt=""> </a>
                    </figure>
                </li>
                <li class="footer_part2">
                    <h2> {{language == 'en' ? 'Information' : 'معلموات'}} </h2>
                    <a (click)="Redirectterms('aboutUs')"> {{language == 'en' ? 'About Us' : 'معلومات عنا'}} </a>
                    <a (click)="Redirectterms('contactUs')"> {{language == 'en' ? 'Contact Us' : 'اتصل بنا'}} </a>
                    <a (click)="Redirectterms('privacyPolicy')">{{language == 'en' ? 'Privacy Policy' : 'سياسة خاصة'}}  </a>
                    <a (click)="Redirectterms('faq')"> {{language == 'en' ? 'FAQs' : 'أسئلة وأجوبة'}} </a>
                </li>
                <li class="footer_part3">
                    <h2> {{language == 'en' ? 'Get In Touch' : 'ابقى على تواصل'}} </h2>
                    <p> Street addresses: 445 Mount Eden Road, Mount Eden.</p>
                    <figure class="pay_card">
                        <img src="assets/images/card_1.png" alt="">
                        <img src="assets/images/card_2.png" alt="">
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="copyright">
    <p> {{language == 'en' ? 'Copyright' : 'حقوق الملكية'}} © 2020, {{language == 'en' ? 'Markat' : 'ماركات'}} </p>
</div>