<app-header></app-header>
<div class="Celebrity_index">
    <section class="index_list">
        <div class="conta_iner">
            <ul>
                <li> <a (click)="CheckSeller('')"> All Sellers </a> </li>
                <li *ngFor="let item of array"> <a (click)="CheckSeller(item)">{{item}}</a> </li>
                <li>
                    <!-- <div class="medium_bar">
                        <div class="search_bar_inner">
                            <div class="search_input search_input2">
                                <mat-form-field [floatLabel]="'never'">
                                    <input style="padding-left: 10px;" matInput type="text" placeholder="{{ 'HEADER.SEARCHQ' | translate}}" name="name">
                                </mat-form-field>
                                <div class="search_button search_button2" style="cursor: pointer;">
                                    <figure><img src="assets/images/search.png"></figure>
                                </div>
                            </div>
                        </div>

                    </div> -->
                </li>
            </ul>
        </div>
    </section>
    <section class="all_sec">
        <div class="conta_iner">
            <ul class="celebrity_list">
                <li *ngFor="let item of celebrity">
                    <a >
                        <div class="selection_mains" (click)="goTocelebrityprofile(item)">
                            <figure *ngIf="!item.profilePic" class="camera"><img src="assets/images/default.png"></figure>
                            <figure *ngIf="item.profilePic" class="camera"><img [src]="imgurl+item.profilePic"></figure>
                            <!-- <figure class="camera"><img [src]="imgurl+item.profilePic"></figure> -->
                            <h5>{{item.firstName}} {{item.lastName}}</h5>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>

</div>
<app-footer></app-footer>