<app-header></app-header>
<div class="cart_wrap comman_nameing_margin">
    <div class="checkout_wrap">
        <div class="conta_iner">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a (click)="gotohome()">{{"PROFILE.HOME" | translate}}</a></li>
                    <!-- <li class="breadcrumb-item"><a href="./homepage">Electronics & Mobiles</a></li> -->
                    <li class="breadcrumb-item active" aria-current="orders">{{"CART.CHECKOUT" | translate}}</li>
                </ol>
            </nav>
            <div class="product_detail_main">
                <div class="product_detail_left">
                    <div class="list-group" id="accordionThree">
                        <div class="expansion-panel list-group-item checkout_bg_shadow">
                            <div aria-controls="collapseEight" aria-expanded="false" class="expansion-panel-toggler collapsed" data-target="#collapseEight" data-toggle="collapse" id="headingEight" role="button">
                                <div class="media-body product_detail_main">
                                    <div class="panel_content_inner">{{"CART.CART" | translate}}
                                    </div>
                                    <div class="expansion-panel-icon ml-3 text-black-secondary">
                                        <i class="collapsed-show material-icons"><i class="fa fa-angle-up"></i></i>
                                    </div>
                                </div>
                            </div>
                            <div aria-labelledby="headingEight" class="collapse in" data-parent="#accordionThree" id="collapseEight">
                                <div class="expansion-panel-body">
                                    <div class="">
                                        <div class="cart_outer_box">
                                            <div class="chip fade show" *ngFor="let cart of cartdata" id="chipDismissible1">
                                                <div class="product_detail_main cart">
                                                    <div class="cart_left">
                                                        <div class="product_detail_left_inner small">
                                                            <figure *ngIf="cart.product.images?.length != 0"><img [src]="imgUrl+cart.product.images[0]?.image">
                                                            </figure>
                                                            <figure *ngIf="cart.product.images?.length == 0"><img src="assets/images/default.png"></figure>
                                                        </div>
                                                    </div>
                                                    <div class="cart_right">
                                                        <div class="p_content">
                                                            <p>{{language == 'en' ? cart?.product.name : cart?.product.name_ar}}</p>
                                                            <p class="grey_cart">{{language == 'en' ? cart?.product.brand.name : cart?.product.brand.name_ar}}</p>
                                                            <p class="yellow_cart">{{currency}} {{(cart?.product?.price * cart?.quantity)-(cart?.product?.price * cart?.quantity) * cart?.product?.discount/100 | number:'1.0-1'}}
                                                            </p>
                                                        </div>
                                                        <span style="color: red;" *ngIf="cart?.product.purchaseQuantity <= this.i && cart?.product?._id == prod_id">{{"CART.MAXP" | translate}}.</span>
                                                        <div class="orderadd_cart_box">
                                                            <button (click)="subquantity(cart,cart?._id)">-</button>
                                                            <p>{{cart?.quantity}}</p>
                                                            <button (click)="addquantity(cart,cart?._id)" [disabled]="cart?.product?.purchaseQuantity <= this.i && prod_id == cart?.product?._id">+</button>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="crs_btn" (click)="removecart(cart?._id)"><button class="close" data-dismiss="alert" data-target="#chipDismissible1" type="button"><i
                                                                class="material-icons">{{"CART.CANCEL" | translate}}</i></button></div> -->
                                                    <div class="crs_btn" (click)="removecart(cart?._id)"><button class="close" data-dismiss="alert" data-target="#chipDismissible1" type="button"> X </button></div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="expansion-panel list-group-item checkout_bg_shadow">
                            <div aria-controls="collapseNine" aria-expanded="false" class="expansion-panel-toggler collapsed" data-target="#collapseNine" data-toggle="collapse" id="headingNine" role="button">
                                <div class="media-body product_detail_main">
                                    <div class="panel_content_inner">{{"CART.SELECTA" | translate}}</div>
                                    <div class="expansion-panel-icon ml-3 text-black-secondary">
                                        <i class="collapsed-show material-icons"><i class="fa fa-angle-up"></i></i>
                                    </div>
                                </div>
                            </div>
                            <div aria-labelledby="headingNine" class="collapse in" data-parent="#accordionThree" id="collapseNine">
                                <div class="expansion-panel-body">
                                    <div class="addrs">
                                        <mat-radio-button *ngFor="let i of address ;let y=index" [value]="y"  [checked]="i.isDefault">
                                            <div class="adre_main">
                                                <div class="adres_top" (click)="radioclick(i._id,'')">
                                                    <address>{{i.apartment}},{{i.city}}-{{i.postalCode}},{{i.buildingName}}
                                                            <br>
                                                            {{i.phone}}
                                                        </address>
                                                </div>
                                                <div class="adres_bottom">
                                                    <a class="span_red" (click)="deleteaddress(i._id)">{{language == 'en' ? 'Remove' : 'إزالة'}}</a>
                                                    <a data-toggle="modal" data-target="#exampleModalLong" (click)="editaddressdata(i._id)">{{language == 'en' ? 'Edit' : 'تعديل'}}</a>
                                                </div>
                                            </div>
                                        </mat-radio-button>
                                        <!-- --------------------------------------------------------------------------------------------------------- -->
                                        <!-- <mat-checkbox *ngFor="let i of address ;let y=index" [value]="y" [checked]='i._id == addressId' (click)="radioclick(i._id,$event)">
                                            <div class="adre_main">
                                                <div class="adres_top">
                                                    <address>
                                                       <p> {{i.address1}}, {{i.city}}-{{i.postalCode}}, {{i.address2}} </p>
                                                        <br>
                                                        <p> {{i.phone}} </p>
                                                    </address>
                                                </div>
                                                <div class="adres_bottom">
                                                    <a class="span_red" (click)="deleteaddress(i._id)">{{"FORM.REMOVE" | translate}}</a>
                                                    <a data-toggle="modal" data-target="#exampleModalLong" (click)="editaddressdata(i._id)">{{"FORM.EDIT" | translate}}</a>
                                                </div>
                                            </div>
                                        </mat-checkbox> -->
                                        <!-- -----------------------------------------------------------------------------------------------                                         -->
                                        <div class="product_detail_btn">
                                            <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalLong" (click)="addnewaddress()">{{"FORM.ADDADD" | translate}}</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="product_detail_right">
                    <div class="product_detail_right_inner cart">
                        <div class="title_bar">
                            <h2>{{"CART.CHECKOUT" | translate}}</h2>
                        </div>
                        <div class="adre_main">
                            <h3>{{"CART.DILEVERYA" | translate}}</h3>
                            <div class="adres_top" *ngFor="let i of addresszero; let k = index;">
                                <address *ngIf="k == 0">
                                    {{i?.apartment}},{{i?.city}}-{{i?.postalCode}},{{i?.buildingName}}<br>
                                    {{i?.phone}}
                                </address>
                            </div>
                        </div>
                        <h3>{{"CATEGORY.PAYMENT" | translate}}</h3>
                        <div class="adre_main ">
                            <div class="adres_right">
                                <mat-radio-group aria-label="Select an option" [(ngModel)]="paymentmode" (change)="radioChange($event)">
                                    <mat-radio-button value="COD">{{'CATEGORY.COD' | translate}}</mat-radio-button>
                                    <mat-radio-button data-toggle="collapse" data-target="#category_1" aria-expanded="false" aria-controls="collapseExample" value="CC">{{"CATEGORY.CC" | translate}}</mat-radio-button>
                                </mat-radio-group>
                            </div>

                            <div class="collapse" id="category_1">
                                <div class="card-body">
                                    <mat-radio-group aria-label="Select an option" *ngFor="let item of settingpay" [(ngModel)]="paymentid" (change)="radioChapay($event)">
                                        <mat-radio-button [value]="item.id">{{item.en}}</mat-radio-button>

                                    </mat-radio-group>
                                </div>
                            </div>

                            <div class="discount_offer">
                                <h3 class="theme_sub_heading ca_text">{{"CART.PROMO" | translate}}</h3>
                                <div class="ca_box">
                                    <!-- <input type="text" (keydown.space)="$event.preventDefault()" name="promo" [(ngModel)]="promocodeapp" placeholder="Enter Your Promocode"  [ngModelOptions]="{ standalone: true }">
                                        <button class="theme_btn" (click)="checkpromocode()">
                                            {{"CART.APPLY" | translate }}
                                        </button> -->
                                    <mat-form-field appearance="fill">
                                        <!-- <mat-label>None</mat-label> -->
                                        <mat-select placeholder="None" (selectionChange)="checkpromocode($event.value)">
                                            <mat-option *ngFor="let code of promo" [value]="code.code">
                                                {{code.code}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>
                        <ul class="product_detail_tab_content">
                            <h3>{{"CART.PRICE DEATILS" | translate}}</h3>
                            <li>
                                <p>{{"CART.SUBTOTAL" | translate}}</p>
                                <p class="right_align">{{currency}} {{subprice_total | number:'1.0-1'}}</p>
                            </li>
                            <li>
                                <p>{{"CART.DISCOUNT" | translate}}</p>
                                <p class="right_align">{{promoDiscount}}</p>
                            </li>
                            <li>
                                <p>{{"CART.TAX" | translate}}</p>
                                <p class="right_align">{{taxCharge}}%</p>
                            </li>
                            <li>
                                <p>{{"CART.SHIPPING" | translate}}</p>
                                <p class="right_align" *ngIf="shippingCharge != 0">{{currency}} {{shippingCharge}}</p>
                                <p class="right_align" *ngIf="shippingCharge == 0">{{currency}} 0</p>
                            </li>
                        </ul>
                        <ul class="product_detail_tab_content total">
                            <li>
                                <p>{{"CART.TOTAL" | translate}}</p>
                                <p class="right_align">{{currency}} {{price_total | number:'1.0-1'}} </p>
                            </li>
                        </ul>
                        <div class="product_detail_btn">
                            <button mat-raised-button (click)="openDialog()">{{"CART.PAYN" | translate}}</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- modale -->
<!-- Modal -->
<div class="modal fade modal_checkout" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog checkout address_Addpopup" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{"FORM.ADDRESS" | translate}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> X </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addaddressform">
                    <ul class="formn_group_main">
                        <li>
                            <label>{{"FORM.NAME" | translate}}</label>
                            <div class="form-group">
                                <mat-form-field [floatLabel]="'never'">
                                    <input class="form-control" matInput type="text" maxLength="25" minlength="3" (keydown.space)="$event.preventDefault()" (keypress)="checkphone($event)" placeholder=" {{'FORM.NAME' | translate}}" name="name" formControlName="name">
                                </mat-form-field>

                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('name', 'required')">
                                    {{"VALIDATIONS.NAMEREQ" | translate}}
                                </mat-error>
                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('name', 'minlength')">
                                    {{"VALIDATIONS.NAMEMIN" | translate}}
                                </mat-error>
                            </div>
                        </li>
                        <li>
                            <label>{{"FORM.APARTMENT" | translate}}</label>
                            <div class="form-group">
                                <mat-form-field [floatLabel]="'never'">
                                    <input class="form-control" matInput type="text" maxLength="50" minlength="3" (keydown.space)="$event.preventDefault()" (keypress)="checkphone($event)" placeholder="{{'FORM.APARTMENT' | translate}}" name="address1" formControlName="apartment">
                                </mat-form-field>

                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('apartment', 'required')">
                                    {{"VALIDATIONS.APARTMENTREQ" | translate}}
                                </mat-error>
                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('apartment', 'minlength')">
                                    {{"VALIDATIONS.APARTMENTMIN" | translate}}
                                </mat-error>
                            </div>
                        </li>
                        <li>
                            <label>{{"FORM.BUILDING" | translate}}</label>
                            <div class="form-group">
                                <mat-form-field [floatLabel]="'never'">
                                    <input class="form-control" matInput type="text" maxLength="50" minlength="3" (keydown.space)="$event.preventDefault()" (keypress)="checkphone($event)" placeholder="{{'FORM.BUILDING' | translate}}" name="name" formControlName="buildingName">
                                </mat-form-field>

                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('buildingName', 'required')">
                                    {{"VALIDATIONS.BUILDINGREQ" | translate}}
                                </mat-error>
                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('buildingName', 'maxLength')">
                                    {{"VALIDATIONS.BUILDINGINV" | translate}}
                                </mat-error>
                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('buildingName', 'minlength')">
                                    {{"VALIDATIONS.BUILDINGMIN" | translate}}
                                </mat-error>
                            </div>
                        </li>
                        <li>
                            <label>{{"FORM.CITY" | translate}}</label>
                            <div class="form-group">
                                <mat-form-field [floatLabel]="'never'">
                                    <input class="form-control" matInput ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="AddressChange($event)" type="text" maxLength="40" minlength="2" (keydown.space)="$event.preventDefault()" (keypress)="checkphone($event)" placeholder="{{'FORM.CITY' | translate}}"
                                        name="name" formControlName="city">
                                </mat-form-field>

                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('city', 'required')">
                                    {{"VALIDATIONS.CITYREQ" | translate}}
                                </mat-error>
                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('city', 'maxLength')">
                                    {{"VALIDATIONS.CITYINV" | translate}}
                                </mat-error>
                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('city', 'minlength')">
                                    {{"VALIDATIONS.CITYMIN" | translate}}
                                </mat-error>
                            </div>
                        </li>
                        <li>
                            <label>{{"FORM.POSTALC" | translate}}</label>
                            <div class="form-group">
                                <mat-form-field [floatLabel]="'never'">
                                    <input class="form-control" matInput type="text" maxLength="25" minlength="5" (keydown.space)="$event.preventDefault()" (keypress)="checkphone($event)" autocomplete="false" placeholder="{{'FORM.POSTALC' | translate}}" name="name" formControlName="postalCode">
                                </mat-form-field>
                            </div>
                        </li>
                        <li>
                            <label>{{"FORM.COUNTRY" | translate}}</label>
                            <div class="form-group">
                                <input class="form-control" matInput list="browsers" name="browser" placeholder="{{'FORM.COUNTRY' | translate}}" formControlName="country" (keyup)="getAllcountry()" id="browser">
                                <datalist id="browsers" *ngFor="let body of countryList">
                                    <option *ngFor="let body of countryList" value="{{body.name}}">{{body.name}}</option>
                                </datalist>
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <ngx-intl-tel-input placeholder="{{'FORM.PLACENO' | translate}}" [cssClass]="'custom'" [preferredCountries]="[
                                CountryISO.UnitedStates,
                                CountryISO.UnitedKingdom
                              ]" [enableAutoCountrySelect]="false" [enablePlaceholder]="true" [searchCountryFlag]="true" [searchCountryField]="[
                                SearchCountryField.Iso2,
                                SearchCountryField.Name
                              ]" [selectFirstCountry]="false" [selectedCountryISO]="countryCodeData" [maxLength]="15" [tooltipField]="TooltipLabel.Name" [phoneValidation]="true" name="phone" formControlName="phone" required></ngx-intl-tel-input>

                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('phone', 'required')">
                                    {{"VALIDATIONS.PHONENR" | translate}}
                                </mat-error>
                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('phone', 'maxLength')">
                                    {{"VALIDATIONS.PHONEIN" | translate }}
                                </mat-error>
                            </div>
                    </ul>
                    <button class="address_modale_btn theme_btn" *ngIf="setid == null" (click)="addaddress(1)">{{"FORM.NEWAD" | translate}}</button>
                    <button class="address_modale_btn theme_btn" *ngIf="setid != null" (click)="addaddress(2)">{{"FORM.EDIT" | translate}}</button>
                </form>
            </div>
        </div>
    </div>
</div>