<app-header></app-header>
<!-- <ngx-spinner [fullScreen] = "true" bdColor = "rgba(0, 0, 0, 0.8)" size = "small" color = "#fff" type="ball-clip-rotate-multiple" >
    <p class="loading">Loading ...</p>
</ngx-spinner> -->
<div class="celebrity_profile">
    <div class="banner">
        <div class="banner_slider">
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let slide of homedata;let i = index;">
                    <ng-template carouselSlide [id]="slide.id">
                        <img [src]="imgurl+slide.image" (click)="bannerpage(slide)" [alt]="slide.alt">
                    </ng-template>
                    <!-- <ng-template carouselSlide><img src="assets/images/banner.png"></ng-template> -->
                    <!-- <ng-template carouselSlide><img src="assets/images/banner.png"></ng-template> -->
                </ng-container>
            </owl-carousel-o>
            <div class="item">
                <ngx-skeleton-loader count="1" appearance="circle" animation="progress" *ngIf="Isloader" [theme]="{ 
                    width:'100%',
                    'border-radius': '5px',
                   height: '290px',
                   
                   border: '1px solid #eaeaea'
                 }"></ngx-skeleton-loader>
            </div>
        </div>
    </div>
    <div class="top_selection section_2 all_sec custom_navarrow2 " *ngIf="picksdata?.length > 0">
        <div class="conta_iner">
            <div class="title_bar heading_bb">
                <h2> {{"DASHBOARD.CELEBED" | translate}} </h2>
                <!-- <a href="#"> See All </a> -->
            </div>
        </div>
        <div class="conta_iner">
            <owl-carousel-o [options]="customRecommended">
                <ng-container *ngFor="let recommended of picksdata;let i = index;">
                    <ng-template carouselSlide [id]="recommended.id">
                        <div style="cursor: pointer;" class="selection_mains Product_box">
                            <div class="selection_main_box2">
                                <div class="selection_main">
                                    <div class="hm_restur_rateing" *ngIf="recommended?.avgRatings != 0">
                                        <figure><img alt="" style="cursor: pointer;" src="assets/images/star.png"></figure>
                                        <span>{{recommended?.avgRatings | number :'1.0-1'}}</span>
                                    </div>
                                    <div class="like" *ngIf="!recommended?.isFavourite" (click)="addfavlist(recommended._id,1)">
                                        <figure><img style="cursor: pointer;" src="assets/images/like.png"></figure>
                                    </div>
                                    <div class="like" *ngIf="recommended?.isFavourite" (click)="addfavlist(recommended._id,1)">
                                        <figure><img src="assets/images/like_red.png"></figure>
                                    </div>
                                </div>

                                <figure (click)="gotoproduct(recommended?._id)" *ngIf="!recommended.images[0]?.image" class="camera"><img style="cursor: pointer;" src="assets/images/default.png"></figure>
                                <figure (click)="gotoproduct(recommended?._id)" *ngIf="recommended.images[0]?.image" class="camera camera2"><img style="cursor: pointer;" [src]="imgurl + recommended.images[0]?.image">
                                </figure>
                            </div>
                            <!-- <h4 *ngIf="recommended.discount">
                                KD{{recommended?.price - recommended?.price * recommended?.discount / 100 | number :'1.0-1'}}<del>KD{{recommended?.price | number :'1.0-1'}}
                                    </del><span>{{recommended?.discount}}% off</span> </h4>
                            <h4 *ngIf="!recommended.discount">KD{{recommended?.price}}</h4>
                            <h5>{{language == 'en' ? recommended?.name : recommended?.name_ar}}<span>{{language == 'en' ? recommended?.brand?.name : recommended?.brand?.name_ar}}</span></h5> -->
                            <div class="box_text">
                                <h4> KD{{recommended?.price - recommended?.price * recommended?.discount / 100 | number :'1.0-1'}} <span class="old_rate"> KD{{recommended?.price | number :'1.0-1'}} </span> <span class="discount_off"> {{recommended?.discount}}% off </span>                                    </h4>
                                <h3>{{language == 'en' ? recommended?.name : recommended?.name_ar}}</h3>
                                <h5> {{language == 'en' ? recommended?.brand.name : recommended?.brand.name_ar}} </h5>
                            </div>
                        </div>

                    </ng-template>
                </ng-container>

            </owl-carousel-o>
        </div>
    </div>
    <div class="banner_sec all_sec">
        <div class="conta_iner">
            <ul>
                <li *ngFor="let static of celebritydata">
                    <a>
                        <figure (click)="bannerpage(static)" class="camera"><img [src]="imgurl+static?.image"></figure>
                    </a>
                </li>
            </ul>
            <div class="item">
                <ngx-skeleton-loader count="3" appearance="circle" animation="progress" *ngIf="Isloader" [theme]="{ 
                        width:'370px',
                        'border-radius': '5px',
                       height: '200px',
                       
                       border: '1px solid white'
                     }"></ngx-skeleton-loader>
            </div>
        </div>
    </div>
    <div class="top_selection all_sec custom_navarrow2 " *ngIf="purchasedata?.length > 0">
        <div class="conta_iner">
            <div class="title_bar heading_bb">
                <h2> {{language == 'en' ? 'Top Products' : 'أهم المنتجات'}} </h2>
                <!-- <a href="#"> See All </a> -->
            </div>
        </div>
        <div class="conta_iner">
            <owl-carousel-o [options]="customRecommended">
                <ng-container *ngFor="let recommended of purchasedata;let i = index;">
                    <ng-template carouselSlide [id]="recommended.id">
                        <div style="cursor: pointer;" class="selection_mains Product_box">
                            <div class="selection_main_box2">
                                <div class="selection_main">
                                    <div class="hm_restur_rateing" *ngIf="recommended?.avgRatings != 0">
                                        <figure><img alt="" style="cursor: pointer;" src="assets/images/star.png"></figure>
                                        <span>{{recommended?.avgRatings | number :'1.0-1'}}</span>
                                    </div>
                                    <div class="like" *ngIf="!recommended?.isFavourite" (click)="addfavlist(recommended._id,2)">
                                        <figure><img style="cursor: pointer;" src="assets/images/like.png"></figure>
                                    </div>
                                    <div class="like" *ngIf="recommended?.isFavourite" (click)="addfavlist(recommended._id,2)">
                                        <figure><img src="assets/images/like_red.png"></figure>
                                    </div>
                                </div>

                                <figure (click)="gotoproduct(recommended?._id)" *ngIf="!recommended.images[0]?.image" class="camera"><img style="cursor: pointer;" src="assets/images/default.png"></figure>
                                <figure (click)="gotoproduct(recommended?._id)" *ngIf="recommended.images[0]?.image" class="camera camera2"><img style="cursor: pointer;" [src]="imgurl+recommended.images[0]?.image">
                                </figure>
                            </div>
                            <!-- <h4 *ngIf="recommended.discount">
                                <del>
                                    </del><span></span> </h4>
                            <h4 *ngIf="!recommended.discount">KD{{recommended?.price}}</h4>
                            <h5>{{language == 'en' ? : recommended?.name_ar}}<span>{{language == 'en' ?  : recommended?.brand?.name_ar}}</span></h5> -->
                            <div class="box_text">
                                <h4>KD{{recommended?.price - recommended?.price * recommended?.discount / 100 | number :'1.0-1'}} <span class="old_rate" *ngIf="recommended?.discount > 0">KD{{recommended?.price | number :'1.0-1'}}</span> <span class="discount_off"
                                        *ngIf="recommended?.discount > 0"> {{recommended?.discount}}% off</span> </h4>
                                <h3>{{language == 'en' ? recommended?.name : recommended?.name_ar }}</h3>
                                <h5> {{language == 'en'? recommended?.brand?.name : recommended?.brand?.name_ar}} </h5>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
    <div class="D_banner">
        <div class="conta_iner">
            <!-- <figure><img [src]="imgurl + bannerdata?.image"></figure> -->
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let slide of bannerdata;let i = index;">
                    <ng-template carouselSlide [id]="slide.id">
                        <img [src]="imgurl+slide.image" (click)="bannerpage(slide)" [alt]="slide.alt">
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
    <div class="top_selection all_sec custom_navarrow2 " *ngIf="branddata?.length > 0">
        <div class="conta_iner">
            <div class="title_bar heading_bb">
                <h2> {{"DASHBOARD.SELLERR" | translate}} </h2>
                <!-- <a> See All </a> -->
            </div>
        </div>
        <div class="conta_iner">
            <owl-carousel-o [options]="customRecommended">
                <ng-container *ngFor="let recommended of branddata;let i = index;">
                    <ng-template carouselSlide [id]="recommended.id">
                        <div (click)="gotoproductDetails(recommended?._id)" style="cursor: pointer;" class="selection_mains Product_box">
                            <div class="selection_main_box2">
                                <figure *ngIf="!recommended?.profilePic" (click)="gotoproductDetails(recommended?._id)" class="camera camera2"><img style="cursor: pointer;" src="assets/images/default.png"></figure>
                                <figure *ngIf="recommended?.profilePic" (click)="gotoproductDetails(recommended?._id)" class="camera camera2"><img style="cursor: pointer;" [src]="imgurl + recommended?.profilePic">
                                </figure>
                            </div>
                            <h3>{{recommended?.firstName }} {{recommended?.lastName}}</h3>
                        </div>

                    </ng-template>
                </ng-container>

            </owl-carousel-o>
        </div>
    </div>
</div>
<app-footer></app-footer>