<app-header ></app-header>
<div class="Compare_page">
    <div class="conta_iner">
        <ul class="compare_outter all_sec">
            <li>
                <div class="C_img" >
                    <div class="C_box_1">
                        <h3> {{"COMPARE.COMPARE" | translate}} <span></span></h3>
                    </div>
                    <div class="C_box_2" *ngFor="let item of comparevalue">
                        <figure> <img [src]="imgurl + item.images[0]?.image" alt=""> </figure>
                        <div class="box_text">
                            <h3> {{item?.name}} </h3>
                            <h5> {{item.brand?.name}} </h5>
                        </div>
                        <button class="close" (click)="clearComp(item._id)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </li>
            <li class="C_heading">
                <h4> {{"COMPARE.SPEC" | translate}} </h4>
            </li>
            <li >
                <div class="C_content" >
                    <h5>{{"COMPARE.DESC" | translate}}</h5>
                    <p *ngFor="let item of comparevalue"> {{item.description}} </p>
                </div>
            </li>
            <li> <div class="C_content" >
                <h5>{{"COMPARE.DISC" | translate}}</h5>
             
                <p *ngFor="let item of comparevalue"> {{item.discount}} % </p>
            </div></li>
               <li>
                <div class="C_content" >
                    <h5>{{"COMPARE.PRIC" | translate}}</h5>
                   
                    <p *ngFor="let item of comparevalue">KD {{item.price | number : '1.0-1'}} </p>
                  
                </div>
               </li>
               <li>
                <div class="C_content" >
                    <h5>{{"COMPARE.HIGHL" | translate}}</h5>
                  
                    <p *ngFor="let item of comparevalue"> {{item.highlights}} </p>
                   
                </div>
               </li>
             
<!--             
            <li class="button_box">
                <div class="R_btn">
                   
                </div>
                <div class="R_btn" *ngFor="let item of comparevalue">
                    <a class="border_btn px-4" (click)="goTocart(item)" >Add to Cart</a>
                </div>
            </li> -->
        </ul>
    </div>
</div>
<app-footer></app-footer>