.Compare_page {
    padding: 30px 0px;
    background: #f9f9f9;
}

.compare_outter {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    box-shadow: 0 0 20px #0000001f;
    border-radius: 5px;
    padding-bottom: 0;
    background: #fff;
    li {
        width: 100%;
        padding: 0px 20px;
        .C_img {
            display: flex;
            align-items: stretch;
        }
        .C_box_1 {
            width: 20%;
            border-bottom: none;
            padding: 10px;
            h3 {
                font-size: 24px;
            }
        }
        .C_box_2 {
            width: 20%;
            border-bottom: none;
            position: relative;
            figure {
                width: 90%;
                margin-right: auto;
            }
            .box_text {
                padding: 10px;
                h3 {
                    font-size: 20px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                h5 {
                    font-size: 14px;
                    color: #999;
                    line-height: normal;
                }
            }
            .close {
                width: 28px;
                height: 28px;
                background: #fff;
                border: solid #97334b 1px;
                border-radius: 50%;
                opacity: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 10px;
                top: -25px;
                box-shadow: 0 0 5px #0000004f;
                span {
                    font-size: 20px;
                    font-weight: 100;
                }
            }
        }
        .C_content {
            display: flex;
            h5 {
                width: 20%;
                padding: 15px 10px;
            }
            p {
                width: 20%;
                padding: 15px 10px;
                text-align: left;
                border-left: solid 1px #d3d3d3;
            }
        }
    }
    .C_heading {
        display: flex;
        border-bottom: solid 1px #d3d3d3;
        padding: 0px;
        h4 {
            padding: 20px;
        }
    }
    .button_box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .R_btn {
            border-left: solid 1px #d3d3d3;
            width: 20%;
            padding: 10px 10px 30px;
            &:first-child {
                border-left: none;
            }
        }
    }
}

@media (max-width:468px) {
    .Compare_page {
        .conta_iner {
            overflow: scroll;
            .compare_outter {
                width: 600px;
                padding-top: 40px;
            }
        }
    }
    .compare_outter li .C_box_2 .box_text h3 {
        font-size: 14px;
    }
}