<app-header (searchtextvalue)=changesearchresult($event)></app-header>
<div class="category_wrap comman_nameing_margin">
    <div class="conta_iner">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a (click)="backtohome()">Home</a></li>
            </ol>
        </nav>
        <div class="category_main">
            <div class="category_left">
                <div class="category_left_nner">
                    <h4>Category</h4>
                    <ul class="category_sidebar">

                        <li class="cate_active" style="cursor: pointer;"
                            *ngFor="let list of categorylist; let i = index" [ngClass]="{active: index == i}"
                            (click)="getcategoryid(list?._id,1,i)">
                            {{list.name}}</li>

                    </ul>
                    <div class="price_navbar" *ngIf="pricehide">
                        <h4>Price</h4>
                        <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options"  (mouseup)="sliderEvent('','')"></ng5-slider>
                    </div>
                    <div class="price_navbar_checkout" *ngIf="pricehide"> 
                        <h4>Brand</h4>
                        <ul>
                            <li>
                                <mat-checkbox>Brand1 (747)</mat-checkbox>
                            </li>
                        
                        </ul>
                    </div>
                    <div class="price_navbar_checkout" *ngIf="pricehide">
                        <h4>Rating</h4>
                        <ul>
                            <li>
                                <mat-checkbox><i class="fa fa-star"></i></mat-checkbox>
                            </li>
                   
                        </ul>
                    </div>
                </div>
            </div>
            <div class="category_right">
                <div class="more_explore_main">
                    <div class="more_explore_main1">
                        <div class="category_top_bar">
                            <div class="vategory_left_bar">
                                <p>814 results found for Printers</p>
                            </div>
                            <div class="category_right_bar">
                                <ul class="collpase_bar">
                                    <li>
                                        <p class="right_Align">SORT BY</p>
                                    </li>
                                    <li class="row_top_bar">
                                        <p>Row</p>
                                        <div class="form-group">
                                            <i class="fa fa-th"></i>
                                            
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ul>
                            <li>
                                <div class="selection_mains">
                                    <div class="explore_main">
                                        <div class="selection_main">
                                            <div class="hm_restur_rateing">
                                                <figure><img alt="" src="assets/images/star.png"></figure>
                                                <span>4.8</span>
                                            </div>
                                            <div class="like">
                                                <figure><img src="assets/images/like.png"></figure>
                                            </div>
                                        </div>
                                        <figure class="camera"><img src="assets/images/headphone.png"></figure>
                                    </div>
                                    <h4>KD 35,515 <del>KD 49,950 </del><span>28% off</span> </h4>
                                    <h5>Lg phones<span>Brand</span></h5>
                                </div>
                            </li>
                        
                        </ul>
                    </div>
                    <div class="more_explore_main2">
                        <div class="category_top_bar" *ngIf="!searchlist">
                            <div class="vategory_left_bar">
                                <p>{{search_result?.length}} results found</p>
                                <!-- <p *ngIf="search_result?.length == ">0 results found</p> -->
                            </div>
                            <div class="category_right_bar">
                                <ul class="collpase_bar">
                                    <li>
                                        <p class="right_Align">SORT BY</p>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                Popularity
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="row_top_bar">
                                        <p>Row</p>
                                        <div class="form-group">
                                         <a *ngIf="row" (click)="rowmethod(1)">
                                            <i class="fa fa-th"  ></i>
                                         </a> 
                                         <a *ngIf="!row" (click)="rowmethod(2)">
                                            <i class="fa fa-list" ></i>
                                        </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div *ngIf="!searchresulthide">
                            <ul *ngFor="let i of search_result">
                                <li (click)="gotoproductDetails(i?._id)">
                                    <div class="selection_mains">
                                        <div class="explore_main">
                                            <figure class="camera" style="cursor: pointer;"><img
                                                    [src]="imgurl+i?.image"></figure>
                                        </div>
                                        <div class="tab2_category_main">
                                            <div class="tab2_category">
                                                <h2 style="cursor: pointer;">{{i?.name}}<span> Brand</span></h2>
                                                <h4>KD 35,515 <del>KD 49,950 </del><span>28% off</span> </h4>
                                            </div>
                                            <div class="selection_main">
                                                <div class="hm_restur_rateing">
                                                    <figure><img alt="" src="assets/images/star.png"></figure>
                                                    <span>4.8</span>
                                                </div>
                                                <!-- <div class="like">
                                                    <figure><img src="assets/images/like.png"></figure>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div *ngIf="searchlist">
                            <ul class="cate_banner">
                                <li (click)="getbannnerdatalist(i)" *ngFor="let i of bannerlist">
                                    <div class="selection_mains">
                                        <div class="explore_main">
                                            <figure class="camera" style="cursor: pointer;"><img
                                                    [src]="imgurl+i?.image"></figure>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="subcate_banner">
                                <li (click)="getcategoryid(j?._id,2,'')" *ngFor="let j of subcategeorylist">
                                    <div class="selection_mains">
                                        <div class="explore_main">
                                            <figure class="camera" style="cursor: pointer;"><img
                                                    [src]="imgurl+j?.image"></figure>
                                        </div>
                                        <span>{{j?.name}}</span>
                                    </div>
                                </li>
                            </ul>
                            <ul *ngFor="let k of listsubcategory">
                                <li style="cursor: pointer;" (click)="getcategoryid(k?._id,2,'')">
                                    {{k?.name}}
                                </li>
                            </ul>
                        </div>
                        <div *ngIf="row">
                            <div *ngIf="subproduct" class="sub_prod_namediv">
                                <ul class="sub_prodwith_name">
                                    <li (click)="gotoproductDetails(j?._id)" *ngFor="let j of productdetail">
                                        <div class="selection_mains">
                                            <div class="explore_main">
                                                <figure class="camera" *ngIf="j.images?.length != 0"
                                                    style="cursor: pointer;"><img [src]="imgurl+j?.images[0]?.image">
                                                </figure>
                                                <figure class="camera" *ngIf="j.images?.length == 0"
                                                    style="cursor: pointer;"><img src="assets/images/noimage.png"></figure>
                                            </div>
    
                                        </div>
                                        <div class="tab2_category_main">
                                            <div class="tab2_category">
                                                <h2 style="cursor: pointer;">{{j?.name}}<span> {{j.brand?.name}}</span></h2>
                                                <div class="sub_cate_h4price">
                                                    <h4 *ngIf="j.discount">
                                                        KD {{j?.price - j?.price * j?.discount / 100}}<del>KD {{j?.price}}
                                                        </del><span>{{j?.discount}}% off</span> </h4>
                                                    <h4 *ngIf="!j.discount">KD {{j?.price}}</h4>
                                                </div>
                                            </div>
                                            <div class="selection_main">
                                                <div class="hm_restur_rateing">
                                                    <figure><img alt="" src="assets/images/star.png"></figure>
                                                    <span>0.0</span>
                                                </div>
                                                <div class="like">
                                                    <figure><img src="assets/images/like.png"></figure>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                 
                         <!-- grid  -->
                        <div *ngIf="!row">
                         <div *ngIf="subproduct" class="sub_prod_namediv">
                            <ul class="sub_prodwith_name" *ngFor="let j of productdetail">
                                <li (click)="gotoproductDetails(j?._id)" >
                                    <div class="selection_mains">
                                        <div class="explore_main">
                                            <figure class="camera" *ngIf="j.images?.length != 0"
                                                style="cursor: pointer;"><img [src]="imgurl+j?.images[0]?.image">
                                            </figure>
                                            <figure class="camera" *ngIf="j.images?.length == 0"
                                                style="cursor: pointer;"><img src="assets/images/noimage.png"></figure>
                                        </div>

                                    </div>
                                    <div class="tab2_category_main">
                                        <div class="tab2_category">
                                            <h2 style="cursor: pointer;">{{j?.name}}<span> {{j.brand?.name}}</span></h2>
                                            <div class="sub_cate_h4price">
                                                <h4 *ngIf="j.discount">
                                                    KD {{j?.price - j?.price * j?.discount / 100}}<del>KD {{j?.price}}
                                                    </del><span>{{j?.discount}}% off</span> </h4>
                                                <h4 *ngIf="!j.discount">KD {{j?.price}}</h4>
                                            </div>
                                        </div>
                                        <div class="selection_main">
                                            <div class="hm_restur_rateing">
                                                <figure><img alt="" src="assets/images/star.png"></figure>
                                                <span>0.0</span>
                                            </div>
                                            <div class="like">
                                                <figure><img src="assets/images/like.png"></figure>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                         <!-- grid -->
                    </div>
                </div>
                <mat-paginator [length]="length" [pageSize]="10" *ngIf="!pagehide" [pageSizeOptions]="[5, 10, 25, 100]"
                    (page)="pageeventvalue($event,'past')">
                </mat-paginator>
            </div>
        </div>
    </div>
    <app-footer></app-footer>