<app-header></app-header>
<div class="wishlist_wrap comman_nameing_margin">
    <div class="conta_iner">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a (click)="gotohomepage()">{{"PROFILE.HOME" | translate}}</a></li>
                <li class="breadcrumb-item active" aria-current="wishlist">{{"CART.WISHLIST" | translate}}</li>
                
            </ol>
        </nav>
        <div class="wishlist">
            <div class="more_explore_main">
                <div class="title_bar" *ngIf="favproduct?.length != 0">
                    <h2>{{"CART.WISHLIST" | translate}}</h2>
                </div>
                <div class="title_bar" *ngIf="favproduct?.length === 0">
                    <h2>{{"CART.WISHEMP" | translate}}</h2>
                </div>
                <ul >
                    <li *ngFor="let i of favproduct">
                        <div class="selection_mains" style="cursor: pointer;"> 
                            <div class="explore_main">
                                <div class="selection_main">
                                    <div class="hm_restur_rateing">
                                        <figure><img alt="" src="assets/images/star.png"></figure>
                                        <span>4.8</span>
                                    </div>
                                    <div class="like" (click)="removefav(i.product.id)">
                                        <figure><img src="assets/images/like_red.png"></figure>
                                    </div>
                                </div>
                                <figure *ngIf="i.product.images[0]?.image != null" class="camera" (click)="gotoprod_page(i.product._id)"><img [src]="imgurl+i.product.images[0]?.image"></figure>
                                <figure *ngIf="i.product.images[0]?.image == null" (click)="gotoprod_page(i.product._id)"><img
                                    src="assets/images/noimage.png">
                            </figure>
                            </div>
                            <!-- <h4>{{curreny}} {{i.product.price}}</h4> -->
                            <h4 *ngIf="i.product.discount">{{curreny}} {{i?.product.price - i?.product.price * i?.product.discount / 100 | number :'1.0-1'}}<del>{{curreny}} {{i?.product.price | number :'1.0-1'}} </del><span>{{i?.product.discount}}% off</span> </h4>
                            <h4 *ngIf="!i.product?.discount">{{curreny}} {{i?.product.price | number :'1.0-1'}}</h4>
                            <!-- <del>{{curreny}} 49,950 </del><span>28% off</span> -->
                            <h5>{{language == 'en' ? i.product.name : i.product.name_ar }}<span>{{language == 'en' ? i.product.brand.name : i.product.brand.name_ar }}</span></h5>
                        </div>
                    </li>
                  
                </ul>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>