<app-header></app-header>
<div class="categori_detail_wrap comman_nameing_margin">
    <div class="conta_iner">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a (click)="gotohome()">{{"PROFILE.HOME" | translate}}</a></li>
                <!-- <li class="breadcrumb-item active" aria-current="orders">**</li> -->
            </ol>
        </nav>
    </div>
    <!----home_appliancebanner-->
    <div class="home_appliance_banne">
        <figure><img src="assets/images/home_Appliance.jpg"></figure>
    </div>
    <!-------------toy_banner-->
    <section class="all_sec">
        <div class="conta_iner">
            <ul class="toy_banner_list">
                <li *ngFor="let img of bannerlist">
                    <figure (click)="getbannerlist(img)" style="cursor: pointer;"><img [src]="imgurl+img.image"></figure>
                </li>                                
            
            </ul>
        </div>
    </section>
    <!------------------categories-->
    <section class="">
        <div class="conta_iner">
            <div class="categories_top_main">
                <div class="categories_left_top" *ngIf="listsubcategory?.length">
                    <ul class="accordion" id="accordionExample">
                        <li *ngFor="let list of listsubcategory ; let i = index;">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link product_detail_main" type="button"
                                            data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            <div (click)="checkdetailsimage(list)">{{list.name}} </div>
                                            <i class="fa fa-chevron-right"></i> 
                                        </button>
                                    </h5>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="categories_right_top">
                    <ul>
                        <li *ngFor="let catimg of subcategeorylist">
                            <div class="toy_inner">
                                <figure style="cursor: pointer;" (click)="checkdetailsimage(catimg)"><img [src]="imgurl+catimg.image"></figure>
                                <h3>{{catimg.name}}</h3>
                                <!-- <h5>6-12</h5> -->
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="more_explore all_sec">
        <div class="conta_iner">
            <div class="more_explore_main">
                <div class="title_bar">
                    <h2 class="explore"> <span>{{"CATEGORY.POPULAR PRODUCT" | translate}}</span> </h2>
                </div>
                <ul>
                    <li (click)="goTocategories()" *ngFor="let i of bestsellerDataVal">
                        <div class="selection_mains">
                            <div class="explore_main">
                                <div class="selection_main">
                                    <div class="hm_restur_rateing">
                                        <figure><img alt="" src="assets/images/star.png"></figure>
                                        <span>0.0</span>
                                    </div>
                                </div>
                                <figure class="camera" style="cursor: pointer;" *ngIf="i.images[0]?.image" (click)="gotoproductDetails(i?._id)"><img [src]="imgurl+i.images[0]?.image"></figure>
                                <figure class="camera" style="cursor: pointer;" *ngIf="!i.images[0]?.image" (click)="gotoproductDetails(i?._id)"><img src="assets/images/default.png"></figure>
                            </div>
                            <h4 *ngIf="i.discount > 0">
                                KD{{i?.price - i?.price * i?.discount / 100}}<del>KD{{i?.price}}
                                </del><span>{{i?.discount}}% off</span> </h4>
                                <h4 *ngIf="i.discount == 0">KD{{i?.price}}</h4>
                                <h5>{{i?.brand?.name}}<span>{{"CATEGORY.BRAND" | translate}}</span></h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>

<app-footer></app-footer>



