.repeat_order_popup .modal-body {
    display: flex;
    justify-content: center;
}

.repeat_order_popup .modal-body button {
    margin-right: 16px;
    padding: 8px 38px;
}

.repeat_order_popup .modal-header span {
    text-align: center;
    display: block;
    margin: 0px auto;
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

.rate-now {
    text-align: center;
    padding: 20px;
}

.modal-content {
    border-radius: 15px;
}

// rating modal start
#exampleModalLong {
    .rate {
        display: inline-block;
        border: 0;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
    }
    /* Hide radio */
    .rate>input {
        display: none;
    }
    /* Order correctly by floating highest to the right */
    .rate>label {
        float: right;
        padding: 0px 6px;
    }
    /* The star of the show */
    .rate>label:before {
        display: inline-block;
        font-size: 53px;
        padding: .3rem .2rem;
        margin: 0;
        cursor: pointer;
        font-family: FontAwesome;
        content: "\f005 ";
        /* full star */
    }
    /* Zero stars rating */
    .rate>label:last-child:before {
        content: "\f005 ";
        /* empty star outline */
    }
    /* Half star trick */
    .rate .half:before {
        content: "\f089 ";
        /* half star no outline */
        position: absolute;
        padding-right: 0;
    }
    /* Click + hover color */
    .rate input:checked~label,
    /* color current and previous stars on checked */
    .rate label:hover,
    .rate label:hover~label {
        color: #FFC850;
    }
    /* color previous stars on hover */
    /* Hover highlights */
    .rate input:checked+label:hover,
    .rate input:checked~label:hover,
    /* highlight current and previous stars */
    .rate input:checked~label:hover~label,
    /* highlight previous selected stars for new rating */
    .rate label:hover~input:checked~label {
        color: #FFC850;
    }
    /* highlight previous selected stars */
    .rateing-item figure {
        max-width: 120px;
        margin: 0px auto;
        padding: 11px 0;
    }
    .rateing-item {
        text-align: center;
        h3 {
            font-size: 28px;
            font-weight: 600;
        }
        span {
            font-size: 16px;
            color: #97334b;
        }
    }
    textarea {
        width: 70%;
        border: none;
        border-bottom: 1px solid #ececec;
        resize: inherit;
        font-size: 14px;
        line-height: normal;
        margin: 20px 0px;
    }
}

.submit-rating-form {
    padding: 10px 60px;
    font-size: 18px;
}

.close {
    width: 35px;
    height: 35px;
    background: #fff;
    border: solid #97334b 1px;
    border-radius: 50%;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -15px;
    top: -15px;
    span {
        font-size: 23px;
        color: #FFF;
        font-weight: 100;
    }
}

#Modalhelp {
    .rate-now {
        text-align: center;
        padding: 60px 40px 40px;
    }
    .help-form {
        select {
            width: 100%;
            padding: 10px;
            border: solid #ececec 1px;
            border-radius: 4px;
        }
        textarea {
            width: 100%;
            padding: 10px;
            border: solid #ececec 1px;
            border-radius: 4px;
            resize: inherit;
            line-height: normal;
            margin: 10px 0px;
        }
    }
}

@media ( max-width:480px) {
    #exampleModalLong {
        .rateing-item figure {
            max-width: 100px;
            margin: 0px auto;
            padding: 0px 0;
        }
        .rate label:before {
            font-size: 45px;
        }
        textarea {
            margin: 0px 0px 20px;
        }
    }
}

// rating modal end