<div class="login_wrap">
    <div class="conta_iner">
        <div class="login_main">
            <div class="login_logo_img">
                <figure><img src="assets/images/logo.svg"></figure>
            </div>
            <span class="skip" (click)="goTohome()" style="cursor: pointer;">
                {{ "LOGIN.SKIP" | translate}} >>
            </span>
            <div class="login_form">
                <h3>{{"LOGIN.WELCOMEBACK" | translate}}<span>{{"LOGIN.SINGIN" | translate}}</span></h3>
                <form #f="ngForm" (ngSubmit)="f.form.valid && Login(f)">
                    <div class="formn_group_main">
                        <div class="form-group">
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" [(ngModel)]="email" name="email" #Email="ngModel" placeholder="{{'LOGIN.EMAILSR' | translate}}" required>
                            </mat-form-field>

                            <div class="validation_logins" *ngIf="f.submitted && Email.invalid">
                                <div class="login_validation alert alert-danger" *ngIf="Email.errors.required">
                                    {{"VALIDATIONS.EMAILR" | translate}}
                                </div>
                                <div class="login_validation alert alert-danger" *ngIf="Email.value !== '' && Email.untouched && Email.invalid">
                                    {{"VALIDATIONS.EMAILIN" | translate}}
                                </div>
                            </div>
                            <div class="validation_logins" *ngIf="f.submitted && Email.invalid">
                                <div class="login_validation alert alert-danger" *ngIf="Email.value !== '' && Email.untouched && Email.invalid">
                                    {{"VALIDATIONS.EMAILIN" | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <mat-form-field appearance="fill">
                                <input matInput [type]="hide ? 'password' : 'text'" minlength="8" maxlength="20" class="form-control" id="pwd" placeholder="XXXXXXXXXX" [(ngModel)]="password" value="" name="password" #Password="ngModel" required>
                                <button class="login_eye_btn" mat-icon-button matSuffix (click)="passwordVisibility($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon style="position: relative; top: -5px;">
                                        <img *ngIf="hide" src="assets/images/visible (1).png">
                                        <img  *ngIf="!hide" src="assets/images/visible (2).png">
                                    </mat-icon>
                                </button>
                            </mat-form-field>
                            <div class="validation_logins" *ngIf="f.submitted && Password.invalid">
                                <div class="login_validation alert alert-danger" *ngIf="Password.errors.minlength">
                                    {{language == 'en' ? 'Password should be atleast 8 characters' : 'يجب أن تتكون كلمة المرور من 8 أحرف على الأقل'}}
                                </div>

                            </div>

                            <div class="validation_logins" *ngIf="f.submitted && Password.invalid ">
                                <div class="login_validation alert alert-danger" *ngIf="Password.errors.required">
                                    {{"VALIDATIONS.PASSWORDR" | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex btnss">
                        <div class="noborder">
                            <mat-checkbox [(ngModel)]="rememberMe" name="rememberMe">{{"LOGIN.KEEPME" | translate}}</mat-checkbox>
                        </div>
                        <a style="cursor: pointer;" (click)="goToforgetpassword()">{{"LOGIN.FORGOT" | translate}} ?</a>
                    </div>
                    <button type="submit" name="login">{{"LOGIN.LOGIN" | translate}}</button>
                    <p>{{"LOGIN.SOCIAL" | translate}}</p>
                    <ul class="connection_img">
                        <li>
                            <figure style="cursor: pointer;" (click)="facebooklogin()"><img src="assets/images/facebook.png"></figure>
                        </li>
                        <li>
                            <figure style="cursor: pointer;" (click)="googlelogin()"><img src="assets/images/goggle.png"></figure>
                        </li>
                    </ul>
                    <p>{{"LOGIN.SOCIAL-MSG" | translate}}</p>
                </form>
            </div>
            <p class="signupp">{{"LOGIN.DONT-ACCOUNT" | translate}} ? <a (click)="goTosignup()">{{"LOGIN.SIGNUP" | translate}}</a></p>
        </div>
    </div>

</div>
<ngx-spinner *ngIf="isloaded"></ngx-spinner>