<app-header></app-header>
<div class="banner_products">
    <h1 align="center">{{"FORM.NOPRODU" | translate}}</h1>
    <span style="cursor: pointer;" (click)="movehome()">{{"CART.BACK" | translate}}</span>
</div>

<!-- The Modal -->
<div class="modal" id="myModal" *ngIf="isloggin == null">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body signup_popup">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="plz_login">{{"LOGIN.PLSLOGIN" | translate}}
                </h2>
                <div class="sign_up_icon">
                    <p (click)="goTologin()">
                    <figure>
                        <img src="assets/images/popup1.png" alt="">
                    </figure>
                    <span>{{"SIGNUP.SIGNIN" | translate}}</span>
                    </p>
                    <p (click)="goTosignup()">
                    <figure>
                        <img src="assets/images/popup.png" alt="">
                    </figure>
                    <span>{{"SIGNUP.SIGNUP" | translate}}</span>
                    </p>
                </div>
                <!----popup setting section-->

            </div>
        </div>
    </div>
</div>
