<app-header></app-header>
<div class="product_deatil_camera comman_nameing_margin">
    <div class="conta_iner">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a (click)="moveto()">{{language == 'en' ? 'Home': 'الصفحة الرئيسية' }}</a></li>
                <!-- <li class="breadcrumb-item"><a href="./homepage">{{}}</a></li> -->
                <li class="breadcrumb-item active" aria-current="orders">{{ language == 'en' ? cartname : 'عربة التسوق'}}</li>
            </ol>
        </nav>

        <div class="product_detail_main page_product_detail">
            <div class="product_detail_left">
                <div class="hm_restur_rateing" *ngIf="productDetails?.avgRatings != 0">
                    <figure><img alt="" style="cursor: pointer;" src="assets/images/star.png"></figure>
                    <span>{{productDetails?.avgRatings | number :'1.0-1'}}</span>
                </div>
                <div class="product_detail_left_inner web_view">
                    <figure *ngIf="!imageSelected"><img src="assets/images/noimage.png"></figure>
       
                    <ngx-img-zoom [zoomImageSrc]="imgurl+imageSelected?.image" [previewImageSrc]="imgurl+imageSelected?.image" [imgStyle]="'bottom:0;  left:0;  right:0;  top:0;  margin:0 auto; border:1px solid #dcdcdc;'" [resultStyle]="'background-repeat: no-repeat; z-index: 2; position:absolute;-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); top: 0;left: 100%;'"
                        [lensStyle]="'width:140px; height:75px'" [enableZoom]="enableZoom" [containerStyle]=""></ngx-img-zoom>
                </div>
                <div class="product_detail_left_inner ipad_view">
                    <figure id="imgid" *ngIf="productImages && productImages?.length > 0 && imageSelected"><img id="bigimage" [src]="imgurl+imageSelected.image"> </figure>
                </div>
                <div class="small_img">
                    <ul>
                        <li *ngFor="let image of productImages" (click)="changeImage(image?._id)">
                            <figure><img id="myimage" [src]="imgurl+image.image"></figure>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product_detail_right">
                <div class="product_detail_right_inner">
                    <h2> {{language == 'en' ? name : name_ar}} </h2>
                    <h3> {{language == 'en' ? brand : brand_ar}} </h3>
                    <div class="box_text">
                        <h4> {{currency}} {{((productDetails?.price)-((productDetails?.price*productDetails?.discount)/100)) | number :'1.0-1'}} <span *ngIf="productDetails?.discount>0" class="old_rate"> {{currency}} {{productDetails?.price | number :'1.0-1'}} </span> <span class="discount_off" *ngIf="productDetails?.discount>0"> {{productDetails?.discount}}% off</span>
                            <span class="share"> <i class="fa fa-share-alt" aria-hidden="true"></i> 
                                <span class="share_box">
                                    <ul>
                                        <li [socialShare]="'fb'"> <i class="fa fa-facebook"  aria-hidden="true"></i> Facebook </li>
                                        <li [socialShare]="'tw'"> <i class="fa fa-twitter" aria-hidden="true"></i> Twitter </li>
                                        <li [socialShare]="'in'"> <i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn </li>
                                    </ul>
                                    </span>
                            </span>
                            <!-- <span class="share_box">
                            <tweet url={{href}}></tweet>
                            <linkedin-share url={{href}}></linkedin-share>
                            <fb-like url={{href}}></fb-like>
                            </span> -->
                        </h4>
                        <!-- <share-popup-button [theme]="'modern-dark'" [include]="['facebook','twitter','linkedin','email']" [show]="5" [url]="'https://twitter.com/'" [autoSetMeta]="false"></share-popup-button> -->
                    </div>
                    <div class="discount_offer">
                        <h3 class="theme_sub_heading ca_text"> {{"CART.CHECKAVA" | translate}} </h3>
                        <div class="ca_box">
                            <input type="text" (keypress)="alphabate($event)" (keydown.space)="$event.preventDefault()" [(ngModel)]="pincode" placeholder="{{'CART.PINCD' | translate}}">
                            <button class="theme_btn" (click)="checkproddetails()">
                                {{"CART.CHECKAVA" | translate}}
                            </button>
                        </div>
                    </div>
                    <span style="color: red;" *ngIf="productDetails?.productQuantity <= 0 && submitted">{{'CART.OUTS' | translate}}</span>
                    <ul class="product_detail_btn">
                        <li>
                            <button class="btn" (click)="Addtobuy()" [disabled]="productDetails?.productQuantity <= 0">{{'CART.BUYN' | translate}}</button>
                            <!-- <button  class="btn btn-primary" (click)="Addtobuy()" data-toggle="modal"  data-target="#myModal">Buy Now</button> -->
                        </li>
                        <!-- (click)="goTocheckout()" -->
                        <li>
                            <button class="btn border_btn" (click)="goTocart(productDetails)" [disabled]="productDetails?.productQuantity <= 0">{{"CART.CARTADD" | translate}}</button>
                            <!-- <button *ngIf="isloggin == null" data-toggle="modal" data-target="#myModal">Add to
                                Cart</button> *ngIf="isloggin"-->
                        </li>
                    </ul>
                    <div class="cart_services_main sold">
                        <div class="cart_services_left">
                            <figure><img src="assets/images/cart_service_img1.svg"></figure>
                        </div>
                        <div class="cart_services_right">
                            <h3>{{"FORM.SOLD" | translate}}<span>{{ productDetails?.seller.firstName}}
                                    {{ productDetails?.seller.lastName }}</span></h3>
                        </div>
                        <a class="cart_services_btn border_btn" (click)="goTocelebrityprofile(productDetails.seller._id)">
                            {{"CATEGORY.EXPLORE" | translate}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-detail_tab">
            <ul class="nav nav-justified nav-tabs" id="justifiedTab" role="tablist">
                <li class="nav-item" *ngIf="descriptionlan">
                    <a aria-controls="home" aria-selected="true" class="nav-link active" data-toggle="tab" href="#home" id="home-tab" role="tab">{{"CATEGORY.DES" | translate}}</a>
                </li>
                <li class="nav-item" *ngIf="highlightslan">
                    <a aria-controls="profile" aria-selected="false" class="nav-link" data-toggle="tab" href="#profile" id="profile-tab" role="tab">{{"CATEGORY.HIGL" | translate}}</a>
                </li>
                <li class="nav-item" *ngIf="specificationsDetail.length > 0">
                    <a aria-controls="contact" aria-selected="false" class="nav-link" data-toggle="tab" href="#contact" id="contact-tab" role="tab">{{"CATEGORY.SPEC" | translate}}</a>
                </li>
                <li class="nav-item" *ngIf="productDetails?.ratingsCount > 0">
                    <a aria-controls="rating" aria-selected="false" class="nav-link" data-toggle="tab" href="#rating" id="rating-tab" role="tab">{{"CATEGORY.RATINGREV" | translate}}</a>
                </li>
            </ul>
            <div class="tab-content" id="justifiedTabContent">
                <div aria-labelledby="home-tab" class="tab-pane active" id="home" role="tabpanel">
                    <div class="product_detail_tab_content">
                        <h3>{{"CATEGORY.DES" | translate}}</h3>
                        <p>{{language == 'en' ? description : descriptionlan}}</p>
                    </div>
                </div>
                <div aria-labelledby="profile-tab" class="tab-pane" id="profile" role="tabpanel">
                    <div class="product_detail_tab_content">
                        <h3>{{"CATEGORY.HIGL" | translate}}</h3>
                        <!-- <p>Effective Pixels: 24 MP<br>Sensor Type: CMOS<br>WiFi Available1080<br>1080p at 60p +
                            Time-Lapse
                        </p> -->
                        <p>{{language == 'en' ? highlights : highlightslan}}
                        </p>
                    </div>

                </div>
                <div aria-labelledby="contact-tab" class="tab-pane" id="contact" role="tabpanel">
                    <div class="product_detail_tab_content">
                        <h3>{{"CART.SPECIFI" | translate}}</h3>
                        <ul>
                            <li *ngFor="let spec of specificationsDetail">
                                <p>{{spec?.title}}</p>
                                <p class="right_align">{{spec?.value}}</p>
                            </li>

                        </ul>
                    </div>

                </div>
                <div aria-labelledby="rating-tab" class="tab-pane" id="rating" role="tabpanel">
                    <div class="product_detail_tab_content">
                        <h3>{{"CATEGORY.RATINGREV" | translate}}</h3>
                        <ul>
                            <li *ngFor="let spec of Ratiingdata">
                                <div class="row card_box">
                                    <div class="profile_box">
                                        <div class="col-md-2 col-3">
                                            <div class="profile_img">
                                                <figure> <img [src]="imgurl+spec?.user?.profilePic" alt="profile"> </figure>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-9">
                                            <div class="name_rating">
                                                <h3> {{spec?.user.firstName}}</h3>
                                                <div class="hm_restur_rateing">
                                                    <i class="fa fa-star"></i>
                                                    <span>{{spec?.rating | number:'1.0-1'}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="review_text">
                                            <p> {{spec?.review}} </p>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top_selection all_sec custom_navarrow2 custom_navarrow3" *ngIf="productdetails?.length>0">
        <div class="title_bar heading_bb2">
            <div class="conta_iner">
                <h2>{{"CATEGORY.RELATED" | translate}}</h2>
            </div>
        </div>
        <div class="conta_iner">
            <owl-carousel-o [options]="customRecommended">
                <ng-container *ngFor="let bestseller of productdetails;let i = index;">
                    <ng-template carouselSlide [id]="bestseller.id">
                        <div style="cursor: pointer;" class="selection_mains Product_box">
                            <div class="selection_main_box2">
                                <figure (click)="gotoproductDetails(bestseller?._id)" *ngIf="!bestseller.images[0]?.image" class="camera"><img style="cursor: pointer;" src="assets/images/noimage.png"></figure>
                                <figure (click)="gotoproductDetails(bestseller?._id)" *ngIf="bestseller.images[0]?.image" class="camera"><img style="cursor: pointer;" [src]="imgurl+bestseller.images[0]?.image">
                                </figure>
                            </div>
                            <div class="box_text">
                                <h4> {{currency}} {{bestseller?.price - bestseller?.price * bestseller?.discount / 100 | number :'1.0-1'}}<span class="old_rate">{{currency}}{{bestseller?.price | number :'1.0-1'}} </span> <span class="discount_off"> {{bestseller?.discount}}% off </span>                                    </h4>
                                <h3> {{language == 'en' ? bestseller?.name : bestseller?.name_ar}} </h3>
                                <h5> {{language == 'en' ? bestseller?.brand?.name : bestseller?.brand?.name_ar}} </h5>
                                <div class="compare_check">
                                    <mat-checkbox (change)="filterBrancd($event,bestseller?._id)">{{"CART.COMP" | translate}}</mat-checkbox>

                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>

            </owl-carousel-o>
            <div class="item">
                <ngx-skeleton-loader count="5" appearance="circle" animation="progress" *ngIf="Isloader" [theme]="{ 
                    width:'200px',
                    'border-radius': '5px',
                   height: '200px',
                   
                   border: '1px solid white'
                 }"></ngx-skeleton-loader>
            </div>
        </div>
    </div>
    <div class="top_selection all_sec custom_navarrow2 custom_navarrow3" *ngIf="celebdata?.length>0">
        <div class="title_bar heading_bb2">
            <div class="conta_iner">
                <h2>{{language == 'en' ? 'Celebrity Endorsed' : 'أيد المشاهير'}}</h2>
            </div>
        </div>
        <div class="conta_iner">
            <owl-carousel-o [options]="customRecommended">
                <ng-container *ngFor="let bestseller of celebdata;let i = index;">
                    <ng-template carouselSlide [id]="bestseller.id">
                        <div style="cursor: pointer;" class="selection_mains Product_box">
                            <div class="selection_main_box2">
                                <figure (click)="gotoproductDetails(bestseller?._id)" *ngIf="!bestseller.images[0]?.image" class="camera"><img style="cursor: pointer;" src="assets/images/noimage.png"></figure>
                                <figure (click)="gotoproductDetails(bestseller?._id)" class="camera camera2" *ngIf="bestseller.images[0]?.image"><img style="cursor: pointer;" [src]="imgurl + bestseller.images[0]?.image">
                                </figure>
                            </div>
                            <div class="box_text">
                                <h4> {{currency}} {{bestseller?.price - bestseller?.price * bestseller?.discount / 100 | number :'1.0-1'}}<span class="old_rate">{{currency}} {{bestseller?.price | number :'1.0-1'}} </span> <span class="discount_off"> {{bestseller?.discount}}% off </span>                                    </h4>
                                <h3> {{language == 'en' ? bestseller?.name : bestseller?.name_ar}} </h3>
                                <h5> {{language == 'en' ? bestseller?.brand?.name : bestseller?.brand?.name_ar}} </h5>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>

            </owl-carousel-o>
            <div class="item">
                <ngx-skeleton-loader count="5" appearance="circle" animation="progress" *ngIf="Isloader" [theme]="{ 
                    width:'200px',
                    'border-radius': '5px',
                   height: '200px',
                   
                   border: '1px solid white'
                 }"></ngx-skeleton-loader>
            </div>
        </div>
    </div>
    <div class="top_selection other_brands all_sec custom_navarrow2 custom_navarrow3" *ngIf="productdetails?.length>0">
        <div class="title_bar heading_bb2">
            <div class="conta_iner">
                <h2>{{language == 'en' ? "Other Brands" : 'ماركات أخرى'}}</h2>
            </div>
        </div>
        <div class="conta_iner">
            <owl-carousel-o [options]="customRecommended2">
                <ng-container *ngFor="let bestseller of brandlist;let i = index;">
                    <ng-template carouselSlide [id]="bestseller.id">
                        <div style="cursor: pointer;" class="selection_mains o_brand_box">
                            <div class="selection_main_box2">
                                <figure (click)="gotoproductDetailsB(bestseller?._id)" *ngIf="!bestseller?.image" class="camera"><img style="cursor: pointer;" src="assets/images/noimage.png"></figure>
                                <figure (click)="gotoproductDetailsB(bestseller?._id)" *ngIf="bestseller.image" class="camera"><img style="cursor: pointer;" [src]="imgurl+bestseller.image"></figure>
                            </div>
                            <div class="box_text2">
                            </div>
                        </div>
                    </ng-template>
                </ng-container>

            </owl-carousel-o>
            <div class="item">
                <ngx-skeleton-loader count="5" appearance="circle" animation="progress" *ngIf="Isloader" [theme]="{ 
                    width:'200px',
                    'border-radius': '5px',
                   height: '200px',
                   
                   border: '1px solid white'
                 }"></ngx-skeleton-loader>
            </div>
        </div>
    </div>
</div>
<div class="compare_button" *ngIf="count > 1">
    <a class="theme_btn" (click)="gotocompare()"> {{"COMPARE.COMPARE" | translate}} (<span>{{count}}</span>) </a>
</div>

<app-footer></app-footer>
<!-- The Modal -->
<!-- -----------------------------------------------------For share purpose -->

<div class="modal" id="Myshare">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body signup_popup">
                <!----popup setting section-->
                <span style="cursor: pointer;">
                        <!-- <i class="fa fa-facebook-square" href="" aria-hidden="true"></i> -->
                        <!-- <i>https://appgrowthcompany.com:3083/api/app/redirectDeepLink?type=product&id={{id}}</i> -->


                    </span> &nbsp; &nbsp;
                <span style="cursor: pointer;">
                        <!-- <i class="fa fa-envelope" href="" aria-hidden="true"></i> -->
                    </span>
            </div>
        </div>
    </div>
</div>

<ngx-spinner [fullScreen] = "true" bdColor = "rgba(0, 0, 0, 0.8)" size = "small" color = "#fff" type="ball-clip-rotate-multiple" >
    <p class="loading">Loading ...</p>
</ngx-spinner>