<app-header ></app-header>
<!-- (searchtextvalue)=changesearchresult($event) -->
<div class="category_wrap comman_nameing_margin">
    <div class="conta_iner">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a (click)="backtohome()">{{"PROFILE.HOME" | translate}}</a></li>
                <li class="breadcrumb-item"><a>{{"CATEGORY.CATEGORY" | translate}}</a></li>
            </ol>
        </nav>
        <div class="category_main">
            <nav class="navbar navbar2 navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav">
                        <div class="category_left_nner">
                            <h4>{{"CATEGORY.CATEGORY" | translate}}</h4>
                            <mat-accordion>
                                <mat-expansion-panel *ngFor="let list of categorylist; let i = index" (click)="getexpansevalue(list._id)">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{language == 'en' ? list.name : list.name_ar}}
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <p *ngFor="let item of subcategeorylist" (click)="subcategoryValue(item._id)" style="cursor: pointer;">{{language == 'en' ? item.name : item.name_ar}}</p>
                                </mat-expansion-panel>
                            </mat-accordion>
                            <div class="price_navbar" *ngIf="pricehide">
                                <h4>{{"CATEGORY.PRICE" | translate}}</h4>
                                <div class="price_box">
                                    <input type="number" [(ngModel)]="minprice" placeholder="Min">
                                    <input type="number" [(ngModel)]="maxprice" placeholder="Max">
                                </div>
                                <a (click)="priceAdd()">{{language == 'en' ? 'Go' :'اذهب'}}</a>
                            </div>
                            <div class="price_navbar_checkout select_brands" *ngIf="pricehide">
                                <div style="display: flex; align-items:center;">
                                    <h4>{{"CATEGORY.BRAND" | translate}}</h4>
                                </div>
                                <input class="form-control" type="text" placeholder="{{language =='en' ? 'Search brand' : 'بحث عن العلامة التجارية'}}" [(ngModel)]="search" (keyup)="checkBrand()">
                                <ul>
                                    <li *ngFor="let item of brandlist; let i = index">
        
                                        <mat-checkbox (change)="filterBrancd(item._id,$event,i)" [checked]="brandarrylist.includes(item?._id)">{{language == 'en' ? item?.name : item?.name_ar}}
                                        </mat-checkbox>
                                    </li>

                                </ul>
                            </div>
                            <div class="price_navbar_checkout" *ngIf="pricehide">
                                <div style="display: flex;">
                                    <h4>{{"CATEGORY.RATING" | translate}}</h4>
                                </div>
                                <ul>
                                    <li>
                                        <ul>
                                            <mat-radio-group aria-label="Select an option">
                                                <li>
                                                    <mat-radio-button value="0" (change)="radioChange($event)" [checked]="ratval == 0"> {{language == 'en' ? 'None' : 'لا شيء'}}
                                                    </mat-radio-button>
                                                </li>
                                                <li>
                                                    <mat-radio-button value="1" (change)="radioChange($event)" [checked]="ratval == 1"><i class="fa fa-star"></i> & {{language =='en' ? 'up' : 'فوق'}}
                                                    </mat-radio-button>
                                                </li>
                                                <li>
                                                    <mat-radio-button value="2" (change)="radioChange($event)" [checked]="ratval == 2"><i class="fa fa-star"></i><i class="fa fa-star"></i> & {{language =='en' ? 'up' : 'فوق'}}</mat-radio-button>
                                                </li>
                                                <li>
                                                    <mat-radio-button value="3" (change)="radioChange($event)" [checked]="ratval == 3"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> & {{language =='en' ? 'up' : 'فوق'}}
                                                    </mat-radio-button>
                                                </li>
                                                <li>
                                                    <mat-radio-button value="4" (change)="radioChange($event)" [checked]="ratval == 4"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> & {{language =='en' ? 'up' : 'فوق'}} </mat-radio-button>
                                                </li>
                                                <li>
                                                    <mat-radio-button value="5" (change)="radioChange($event)" [checked]="ratval == 5"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></mat-radio-button>
                                                </li>
                                            </mat-radio-group>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </div>
            </nav>

            <div class="category_right">
                <div class="more_explore_main">
                    <div class="more_explore_main1">
                    </div>
                    <div class="more_explore_main2">
                        <div class="category_top_bar" *ngIf="!searchlist">
                            <div class="vategory_left_bar">
                                <p> {{length || 0}} {{language == 'en' ? 'results found' : 'العثور على نتائج'}}</p>
                            </div>
                            <div class="category_right_bar">
                                <ul class="collpase_bar">
                                    <li *ngIf="pricehide">
                                        <p *ngIf="isfeature" class="right_Align">{{"CATEGORY.SORTBY" | translate}}</p>
                                        <div class="dropdown" *ngIf="isfeature">
                                            <select class="cat_filter" [(ngModel)]="sort" placeholder="Select" (change)="sortSelected($event)">
                                                <!-- <option value="undefined" disabled>Select</option> -->
                                                <option value="1">{{"CATEGORY.POPUR" | translate}}</option>
                                                <option value="2">{{"CATEGORY.LOWH" | translate}}</option>
                                                <option value="3">{{"CATEGORY.HIGHL" | translate}}</option>
                                                <option value="4">{{"CATEGORY.NEWF" | translate}}</option>
                                            </select>

                                        </div>
                                    </li>
                                    <li class="row_top_bar" *ngIf="pricehide">
                                        <p>{{"CATEGORY.ROW" | translate}}</p>
                                        <div class="form-group">
                                            <a *ngIf="row" (click)="rowmethod(1)">
                                                <i class="fa fa-th"></i>
                                            </a>
                                            <a *ngIf="!row" (click)="rowmethod(2)">
                                                <i class="fa fa-list"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div class="sub_prod_namediv">
                                <ul class="sub_prodwith_name catproduct">
                                    <div [class]="column">
                                        <li *ngFor="let j of brandname">
                                            <div class="selection_mains">
                                                <div class="tab2_category_column">
                                                    <div class="selection_main">
                                                        <div class="hm_restur_rateing">
                                                            <figure><img alt="" src="assets/images/star.png"></figure>
                                                            <span>0.0</span>
                                                        </div>
                                                        <div class="like" *ngIf="!j?.isFavourite" (click)="addfavlist(j._id)">
                                                            <figure><img src="assets/images/like.png"></figure>
                                                        </div>
                                                        <div class="like" *ngIf="j?.isFavourite" (click)="addfavlist(j._id)">
                                                            <figure><img src="assets/images/like_red.png"></figure>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="explore_main" (click)="gotoproductDetails(j?._id,'product')">
                                                    <figure class="camera camera2" *ngIf="j.images?.length != 0" style="cursor: pointer;"><img [src]="imgurl+j?.images[0]?.image">
                                                    </figure>
                                                    <figure class="camera camera2" *ngIf="j.images?.length == 0" style="cursor: pointer;"><img src="assets/images/default.png">
                                                    </figure>
                                                </div>
                                            </div>
                                            <div class="tab2_category_main">
                                                <div class="tab2_category_row">
                                                    <!-- <h2 style="cursor: pointer;">{{language == 'en' ? j?.name : j?.name_ar}}<span> {{ language == 'en' ? j.brand?.name : j.brand?.name_ar}}</span>
                                                    </h2> -->
                                                    <h2> {{language == 'en' ? j?.name : j?.name_ar}} </h2>
                                                    <h3> {{language == 'en' ? j?.brand?.name : j?.brand?.name_ar}} </h3>
                                                    <div class="box_text">
                                                        <h4> {{currency}} {{j?.price - j?.price * j?.discount / 100 | number :'1.0-1'}} <span class="old_rate" *ngIf="j?.discount > 0">  {{currency}} {{j?.price | number :'1.0-1'}} </span> <span class="discount_off"
                                                                *ngIf="j?.discount > 0">{{j?.discount}}% off </span> </h4>
                                                    </div>
                                                </div>
                                                <div class="tab2_category_row rating_row" style="height: 100%;">
                                                    <div class="selection_main">
                                                        <div class="hm_restur_rateing">
                                                            <figure><img alt="" src="assets/images/star.png"></figure>
                                                            <span>0.0</span>
                                                        </div>
                                                        <div class="like" *ngIf="!j?.isFavourite" (click)="addfavlist(j._id)">
                                                            <figure><img src="assets/images/like.png"></figure>
                                                        </div>
                                                        <div class="like" *ngIf="j?.isFavourite" (click)="addfavlist(j._id)">
                                                            <figure><img src="assets/images/like_red.png"></figure>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab2_category_column">
                                                    <!-- <h2 style="cursor: pointer;">{{language == 'en' ? j?.name : j?.name_ar}}<span> {{ language == 'en' ? j.brand?.name : j.brand?.name_ar}}</span>
                                                    </h2> -->
                                                    <div class="box_text">
                                                        <h4> {{currency}} {{j?.price - j?.price * j?.discount / 100 | number :'1.0-1'}} <span class="old_rate" *ngIf="j?.discount > 0">  {{currency}} {{j?.price | number :'1.0-1'}} </span> <span class="discount_off"
                                                                *ngIf="j?.discount > 0">{{j?.discount}}% off </span> </h4>
                                                        <h3>{{language == 'en' ? j?.name : j?.name_ar }}</h3>
                                                        <h5> {{language == 'en' ? j?.brand?.name : j?.brand?.name_ar }} </h5>
                                                    </div>
                                                    <div class="tab2_rating">
                                                        <div class="hm_restur_rateing">
                                                            <figure><img alt="" src="assets/images/star.png"></figure>
                                                            <span>0.0</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </div>
                                </ul>

                            </div>
                            <ngx-skeleton-loader count="6" appearance="circle" animation="progress" *ngIf="isloader" [theme]="{ 
                                width:'250px',
                                'border-radius': '5px',
                               height: '250px',
                               
                               border: '1px solid white'
                             }"></ngx-skeleton-loader>
                        </div>
                    </div>
                </div>

                <mat-paginator [length]="length" [pageSize]="10" *ngIf="!pagehide" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageeventvalue($event,'past')">
                </mat-paginator>
            </div>
        </div>
    </div>
    <app-footer></app-footer>