<app-header></app-header>
<div class="cart_wrap comman_nameing_margin">
    <div class="conta_iner">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a (click)="gotohome()">{{ language == 'en' ?  'Home' : 'الصفحة الرئيسية'}}</a></li>
                <li class="breadcrumb-item"><a>{{language == 'en' ? 'Cart items' : 'عناصر عربة التسوق'}}</a></li>
            </ol>
        </nav>
        <!-- <figure>
            <img src="assets/images/empty-cart.svg">
        </figure> -->
        <div *ngIf="cartdata?.length == 0 || idcheck?.length == 0" class="srmyyt-0 elsAqw"><img src="https://a.nooncdn.com/s/app/com/noon/images/empty-state-cart.svg" alt="Your shopping cart looks empty" class="srmyyt-1 fvQlVB">
            <p class="srmyyt-2 gsMyLW">{{language == 'en' ? 'Your shopping cart looks empty' : 'سلة التسوق الخاصة بك تبدو فارغة'}}</p>
            <p>{{language == 'en' ? 'What are you waiting for' : 'ماذا تنتظر'}}?</p><button type="button" aria-label="Start Shopping" class="srmyyt-4 euzQzm" (click)="gotohome()">{{language == 'en' ? 'Start Shopping' : 'ابدأ التسوق'}}</button></div>
        <div class="product_detail_main">
            <div class="product_detail_left Cart_left">
                <div class="" *ngIf="cartdata?.length > 0 || Guestdata?.length > 0">
                    <div class="list-group">
                        <div class="expansion-panel list-group-item">
                            <div class="media-body product_detail_main">
                                <div class="panel_content_inner">
                                    <h4>{{language == 'en' ? 'My Cart' : 'عربة التسوق الخاصة بي'}}</h4>
                                </div>
                                <div class="expansion-panel-icon ml-3 text-black-secondary">
                                    <i class="collapsed-show material-icons"></i>
                                </div>

                            </div>

                            <div class="expansion-panel-body">
                                <span *ngIf="cartdata?.length === 0">
                                   {{"CART.NOPROD" | translate}}
                                </span>
                                <div class="">
                                    <div class="cart_outer_box" *ngIf="isloggin != 'null'">
                                        <div class="chip fade show" *ngFor="let cart of cartdata">
                                            <div class="product_detail_main cart">
                                                <div class="cart_left">
                                                    <div class="product_detail_left_inner small">
                                                        <figure *ngIf="cart?.product?.images[0]?.image != null"><img [src]="imgUrl+cart?.product?.images[0]?.image">
                                                        </figure>
                                                        <figure *ngIf="cart?.product?.images[0]?.image == null"><img src="assets/images/noimage.png">
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="cart_right">
                                                    <div class="cart_text">
                                                        <p>{{language == 'en' ? cart?.product.name : cart?.product.name_ar}}</p>
                                                        <p class="grey_cart">{{language == 'en' ? cart?.product.brand.name : cart?.product.brand.name_ar}}</p>
                                                        <p class="yellow_cart">
                                                            {{cart?.product?.currency}} {{(cart?.product?.price * cart?.quantity)-(cart?.product?.price * cart?.quantity) * cart?.product?.discount/100 | number :'1.0-1'}}
                                                        </p>
                                                    </div>
                                                    <span style="color: red;" *ngIf="cart?.product?.purchaseQuantity <= this.i && prod_id == cart?.product?._id">{{"CART.MAXP" | translate}}.</span>
                                                    <div class="orderadd_cart_box">
                                                        <button (click)="subquantity(cart,cart?._id)">-</button>
                                                        <p>{{cart?.quantity}}</p>
                                                        <button (click)="addquantity(cart,cart?._id)" [disabled]="cart?.product?.purchaseQuantity <= this.i && prod_id == cart?.product?._id">+</button>
                                                    </div>
                                                    <div class="orderadd_cart_box2">
                                                        <button class="del_btn" (click)="removecart(cart?._id,'ON')"> {{language == 'en' ? "Delete" : 'حذف'}} </button>
                                                        <button class="theme_btn" (click)="saveForresult(cart?.product._id)"> {{language == 'en' ? 'Save for later' : 'احفظ لوقت لاحق'}} </button>
                                                    </div>
                                                </div>
                                                <div class="crs_btn" (click)="removecart(cart?._id,'ON')"><button class="close" type="button"> X </button></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- only for guest users -->

                                <div class="cart_outer_box" *ngIf="isloggin == null">

                                    <div class="chip fade show" *ngFor="let cart of Guestdata">
                                        <div class="product_detail_main cart">
                                            <div class="cart_left">
                                                <div class="product_detail_left_inner small">
                                                    <figure *ngIf="cart?.images[0]?.image != null"><img [src]="imgUrl+cart?.images[0]?.image">
                                                    </figure>
                                                    <figure *ngIf="cart?.images[0]?.image == null"><img src="assets/images/default.png">
                                                    </figure>
                                                </div>
                                            </div>
                                            <div class="cart_right">
                                                <div class="cart_text">
                                                    <p>{{language == 'en' ? cart?.name : cart?.name_ar}}</p>
                                                    <p class="grey_cart">{{language == 'en' ? cart?.brand.name : cart?.brand.name_ar}}</p>
                                                    <p class="yellow_cart">
                                                        {{cart?.currency}} {{(cart?.price * cart?.quantity)-(cart?.price * cart?.quantity) * cart?.discount/100 | number :'1.0-1'}}
                                                    </p>
                                                </div>
                                                <span style="color: red;" *ngIf="cart?.purchaseQuantity <= this.i && prod_id == cart?._id">{{"CART.MAXP" | translate}}.</span>
                                                <div class="orderadd_cart_box">
                                                    <button (click)="offlineSub(cart)">-</button>
                                                    <p>{{cart?.quantity}}</p>
                                                    <button (click)="offlineAdd(cart?._id)">+</button>
                                                </div>
                                            </div>
                                            <div class="crs_btn" (click)="removecart(cart?._id,'OFF')"><button class="close" type="button"> X </button></div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="product_detail_btn" id="online">
                    <button (click)="goTocheckout()" *ngIf="cartdata?.length > 0">{{language == 'en' ?   'Place Order' : 'مكان الامر'}}</button>
                </div>
                <div class="product_detail_btn" id="guest">
                    <button (click)="goTocheckout()" *ngIf="Guestdata?.length > 0 && isloggin != null">{{language == 'en' ?   'Place Order' : 'مكان الامر'}}</button>
                    <button data-toggle="modal" data-target="#myModal" *ngIf="Guestdata?.length > 0 && isloggin == null">{{language == 'en' ?   'Place Order' : 'مكان الامر'}}</button>
                </div>
            </div>
            <div class="product_detail_right" *ngIf="cartdata?.length > 0 || Guestdata?.length > 0">
                <div class="product_detail_right_inner cart">
                    <div class="title_bar cart">
                        <h2>{{language == 'en' ? 'Proceed Payment' : 'متابعة الدفع'}}</h2>
                    </div>
                    <ul class="product_detail_tab_content">
                        <li>
                            <p>{{language == 'en' ? sub_total.name : sub_total.name_ar}}</p>
                            <p class="right_align">{{currency}} {{subprice_total | number :'1.0-1'}}</p>
                        </li>
                        <li>
                            <p>{{language == 'en' ? taxprice.name : taxprice.name_ar}}</p>
                            <p class="right_align">{{tax}}%</p>
                        </li>
                        <li>
                            <p>{{language == 'en' ? shippingprice.name : shippingprice.name_ar}}</p>
                            <p class="right_align">{{currency}} {{shipping}}.00</p>
                        </li>
                    </ul>
                    <ul class="product_detail_tab_content total">
                        <li>
                            <p>{{"CART.TOTAL" | translate}}</p>
                            <p class="right_align">{{currency}} {{price_total | number:'1.0-1'}}</p>
                        </li>
                    </ul>
                </div>
            </div>


        </div>

    </div>

</div>

<app-headerpage></app-headerpage>
<app-footer></app-footer>