<app-header></app-header>
<div class="Celebrity_index">
    <section class="index_list">
        <div class="conta_iner">
            <ul>
                <li> <a (click)="getAllcelebrity('')"> {{"DASHBOARD.CELEBRITY" | translate}} </a> </li>
                <li *ngFor="let item of array"> <a (click)="getAllcelebrity(item)">{{item}}</a> </li>
            </ul>
        </div>
    </section>
    <section class="all_sec">
        <div class="conta_iner">
            <ul class="celebrity_list">
                <li *ngFor="let item of celebrity">
                    <a>
                        <div class="selection_mains" (click)="goTocelebrityprofile(item)">
                            <figure *ngIf="!item.profilePic" class="camera"><img src="assets/images/default.png"></figure>
                            <figure *ngIf="item.profilePic" class="camera"><img [src]="imgurl+item.profilePic"></figure>
                            <h5>{{item.firstName}} {{item.lastName}}</h5>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <ngx-skeleton-loader count="10" appearance="circle" animation="pulse" *ngIf="isloader" [theme]="{ 
         width:'250px',
         'border-radius': '5px',
        height: '250px',
        
        border: '1px solid white'
      }" ></ngx-skeleton-loader>      
   
</div>
<app-footer></app-footer>
