<div class="login_wrap forget_password">
    <div class="conta_iner">
        <div class="login_main">
            <div class="login_logo_img">
                <figure><img src="assets/images/logo.svg"></figure>
            </div>
            <div class="login_form">
                <div class="verification_left">
                    <h4>{{"FORGOT.FORGOT" | translate}}</h4>
                    <form class="forget_input">
                        <div class="form-group">
                            <mat-form-field [floatLabel]="'never'">
                                <input class="form-control" matInput type="text" placeholder="{{'SIGNUP.PASSWORD' | translate}}" name="name">
                            </mat-form-field>
                        </div>
                    </form>
                </div>
                <div class="verification_left"><button>{{"CART.SUBMIT" | translate}}</button></div>
            </div>
        </div>
    </div>
</div>