<app-header></app-header>
&nbsp; &nbsp; &nbsp;
<h1 style="text-align: center;">{{data}}</h1>
&nbsp; &nbsp; &nbsp; &nbsp;
<p [innerHTML]="description"></p>
<div style="padding-bottom: 40%;">
    <div class="container" *ngIf="name == 'contactUs' || slugname == 'Help'">
        <div class="col-12 t_cform">
            <form [formGroup]="profileForm">
                <div class="form-group col-12">
                    <label>Name<span style="color: red;">*</span></label>
                    <mat-form-field [floatLabel]="'never'">
                        <input matInput class="form-control" type="text" placeholder=" Name" name="name" formControlName="name" required>
                    </mat-form-field>
                    &nbsp; &nbsp;
                    <mat-error class="error" *ngIf="submitted && errorHandling('name', 'required')">
                        Name is required
                    </mat-error>

                </div>
                <div class="form-group col-12">
                    <label>Email<span style="color: red;">*</span></label>
                    <mat-form-field [floatLabel]="'never'">
                        <input matInput class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" formControlName="email" type="text" placeholder="Email" required>
                    </mat-form-field>
                    &nbsp; &nbsp;
                    <mat-error class="error" *ngIf="submitted && errorHandling('email', 'required')">
                        Email is required
                    </mat-error>
                    <mat-error class="error" *ngIf="submitted && errorHandling('email', 'pattern')">
                        Email is invalid
                    </mat-error>
                </div>
                <div class="form-group col-12">
                    <label>Description<span style="color: red;">*</span></label>
                    <mat-form-field [floatLabel]="'never'">
                        <input matInput class="form-control" formControlName="description" type="text" placeholder="Description" name="name" required>
                    </mat-form-field>
                    &nbsp; &nbsp;
                    <mat-error class="error" *ngIf="submitted && errorHandling('description', 'required')">
                        Description is required
                    </mat-error>
                </div>
                <button class="theme_btn" (click)="sendContactUs()">Send</button>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>