<div mat-dialog-content>
    <div class="verify_box">
        <form>
            <h2> {{language == 'en' ? 'Verify Account By' : 'تحقق من الحساب بواسطة'}} : </h2>
            <mat-radio-group aria-label="Select an option" (change)="checkoption($event)">
                <mat-radio-button value="1">{{language == 'en' ? 'Phone Number' : 'رقم الهاتف'}}</mat-radio-button>
                <mat-radio-button value="2">{{language == 'en' ? 'Email Address' : 'عنوان بريد الكتروني'}}</mat-radio-button>
            </mat-radio-group>
            <button class="btn Form_btn" type="submit" (click)="finalsubmit()"> {{language == 'en' ? 'Submit' : 'إرسال'}} </button>
        </form>
    </div>
</div>