<div class="login_wrap">
    <div class="bg_img">
        <img src="assets/images/img_1.jpg" alt="">
    </div>
    <div class="conta_iner">
        <div class="login_main">
            <div class="login_logo_img">
                <figure><img src="assets/images/logo.svg"></figure>
            </div>
            <div class="login_form">
                <h3>{{language == 'en' ? 'Shop For' : 'متجر لل'}}</h3>
                <div class="row">
                    <div class="col-6">
                        <button class="btn" (click)="gotohome('M')"> {{language == 'en' ? 'Men' : 'رجال'}} </button>
                    </div>
                    <div class="col-6">
                        <button class="btn" (click)="gotohome('F')"> {{language == 'en' ? 'Women' : 'نساء'}} </button>
                    </div>
                </div>
                <!-- <div mat-dialog-content>
                    <div class="verify_box">
                        <form>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1"> Man </mat-radio-button>
                                <mat-radio-button value="2"> Women </mat-radio-button>
                            </mat-radio-group>
                            <button class="btn Form_btn" type="submit"> Submit </button>
                        </form>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>