.login_wrap {
    position: relative;
}

.bg_img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.05;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.login_form {
    width: 100%;
    background: none;
    button {
        background: #fff;
        padding: 15px 0px;
        border-radius: 50px;
        margin: 40px 0px;
        border: none;
        width: 220px;
        font-size: 24px;
        font-weight: bolder;
        color: #97334b;
        text-transform: uppercase;
        &:focus {
            box-shadow: none;
        }
    }
    h3 {
        font-size: 40px;
        font-weight: bold;
        color: #fff;
    }
}




@media(max-width:480px) { 
    .login_wrap {
        padding: 0px;
    }
    .login_form {
        margin: 0px;
        padding: 0px;
        h3 {
            font-size: 30px;
        }
        button {
            margin: 25px 0px;
            padding: 5px 0px;
            width: 120px;
            font-size: 16px;
        }
    }
}


