.success_box 
{
    padding-top: 50px;
    text-align: center;
    svg {
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }
    button {
        padding: 10px 40px;
        background: #f9c848;
        font-size: 20px;
        font-weight: 500;
        box-shadow: none;
        border: none;
        border-radius: 25px;
        color: #000;
    }   
    h2 {
        font-size: 70px;
        font-weight: 700;
        color: lawngreen;
        padding-top: 20px;
    }
    h4 {
        font-size: 24px;
        font-weight: 500;
        color: #333;
        padding: 20px;
    }
}