.repeat_order_popup .modal-body {
    display: flex;
    justify-content: center;
}
.repeat_order_popup .modal-body button {
    margin-right: 16px;
    padding: 8px 38px;
}
.repeat_order_popup .modal-header span {
    text-align: center;
    display: block;
    margin: 0px auto;
    font-size: 24px;
    font-weight: 700;
    color: #000;
}
.input ::placeholder
{
    color: #000;
}

input[type=datetime-local].form-control, input[type=month].form-control, input[type=time].form-control {
    line-height: 18px;
}
