<app-header></app-header>
<div class="not_foundpage">
    <div class="conta_iner">
        <div class="not_foundmain">
            <div class="not_found_img">
                <img
                    src="https://k.nooncdn.com/s/app/2019/noon-bigalog/48dde9a7d3fdcbdf1d6d56f7d4158a22f65859dd/static/images/empty-state-product.png">
            </div>
            <div class="not_foundtext">
                <h1>We couldn’t find what you were looking for</h1>
                <span>
                    Keep calm and search again. We have SO many other products that you will like!
                </span>
                <button (click)="backtohome()">
                    CONTINUE SHOPPING
                </button>
            </div>

        </div>
    </div>
</div>