.not_found_img {
    width: 39%;
    margin: 0px auto;
}
.not_foundmain {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 61px;
}
.not_foundtext {
    flex-basis: 100%;
}
.not_foundtext span {
    display: block;
}
.not_foundtext button {
    margin-top: 16px;
    color: #3866df;
    background-color: #fff;
    border: solid 1px #3866df;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 21px;
}
.not_foundtext h1 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 4px;
    color: #7e859b;
    padding-top: 12px;
}
.not_foundtext span {
    color: #7e859b;
}