<app-header></app-header>
<div class="Celebrity_index">
    <section class="index_list">
        <div class="conta_iner">
            <ul>
                <li> <a (click)="getAllcelebrity('')"> All Brands </a> </li>
                <li *ngFor="let item of array"> <a (click)="getAllcelebrity(item)">{{item}}</a> </li>
                <li>
                    <div class="medium_bar">
                        <div class="search_bar_inner">
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="all_sec">
        <div class="conta_iner">
            <ul class="brand_list">
                <li *ngFor="let item of celebrity">
                    <a>
                        <div class="selection_mains">
                            <figure (click)="gotforbrand(item._id)" class="camera"><img [src]="imgurl+item.image"></figure>
                            <h5>{{item.firstName}} {{item.lastName}}</h5>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>

</div>
<app-footer></app-footer>