<div mat-dialog-content>
    <!-- <span style="cursor: pointer; text-align: right;" (click)="onclose()">X</span> -->
    <button type="button" (click)="onclose()" class="close add_modal_close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="text-box">
       <img (click)="onNoClick(popupbanner)"  style="object-fit: cover; cursor:pointer" [src]="imgurl + popupbanner?.image">
    </div>
</div>