<app-header>
</app-header>
<!-- <ngx-spinner [fullScreen] = "true" bdColor = "rgba(0, 0, 0, 0.8)" size = "small" color = "#fff" type="ball-clip-rotate-multiple" >
    <p class="loading">Loading ...</p>
</ngx-spinner> -->
<div class="home_page comman_nameing_margin">

    <div class="banner">
        <div class="banner_slider">
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let slide of homedata;let i = index;">
                    <ng-template carouselSlide [id]="slide.id">
                        <img [src]="imgurl+slide.image" (click)="bannerpage(slide)" [alt]="slide.alt">
                    </ng-template>
                    <!-- <ng-template carouselSlide><img src="assets/images/banner.png"></ng-template> -->
                    <!-- <ng-template carouselSlide><img src="assets/images/banner.png"></ng-template> -->
                </ng-container>
            </owl-carousel-o>
            <div class="item">
                <ngx-skeleton-loader count="1" appearance="circle" animation="progress" *ngIf="Isloader" [theme]="{ 
                    width:'100%',
                    'border-radius': '5px',
                   height: '290px',
                   border: '1px solid #eaeaea'
                 }"></ngx-skeleton-loader>
            </div>
        </div>
    </div>

    <!-----second_sec-->
    <div class="adds">
        <div class="conta_iner">
            <ul>
                <li *ngFor="let i of offerDataVal">
                    <figure><img style="cursor: pointer;" (click)="bannerpage(i)" [src]="imgurl+i.image"></figure>
                </li>
                <!-- <li>
                    <figure><img style="cursor: pointer;" (click)="bannerpage()" [src]="imgurl+i.image"></figure>
                </li> -->
            </ul>
        </div>
    </div>
    <!----home_appliancebanner-->

    <div class="banner2" *ngIf="featuredata?.length > 0">
        <owl-carousel-o [options]="customOptions">

            <ng-container *ngFor="let slide of featuredata;let i = index;">
                <ng-template carouselSlide [id]="slide.id">
                    <!-- <img [src]="imgurl+slide.profilePic" (click)="bannerpage(slide)" [alt]="slide.alt" title="banner"> -->
                </ng-template>
            </ng-container>

        </owl-carousel-o>
    </div>
    <!-------------more_explore-->

    <!-----------------top_selection-->
    <div class="top_selection all_sec custom_navarrow">
        <div class="conta_iner">
            <div class="title_bar heading_bb">
                <h2> {{"DASHBOARD.CELEB" | translate}} </h2>
                <a (click)="goTocelebrityindex()"> {{language == 'en' ? see_all?.name : see_all?.name_ar }} </a>
            </div>
        </div>
        <div class="conta_iner slic_cstm">
            <!-- <owl-carousel-o [options]="customRecommended2"> -->
            <div class="slick-container">
                <div *ngFor="let bestseller of featuredata;let i = index;">
                    <!-- <ng-template carouselSlide [id]="bestseller.id"> -->
                    <div (click)="goTocelebrityprofile(bestseller)" style="cursor: pointer;" class="selection_mains celebrity_box">
                        <div class="selection_main_box2">
                            <figure *ngIf="!bestseller?.profilePic" class="camera"><img style="cursor: pointer;" src="assets/images/default.png"></figure>
                            <figure *ngIf="bestseller?.profilePic" class="camera"><img [src]="imgurl + bestseller?.profilePic">
                            </figure>
                        </div>
                        <div class="box_text">
                            <h4> {{bestseller.firstName}} {{bestseller.lastName}} </h4>
                        </div>
                    </div>
                    <!-- <div (click)="goTocelebrityprofile()" style="cursor: pointer;" class="selection_mains celebrity_box celebrity_box2">
                            <div class="selection_main_box2">
                                <figure *ngIf="bestseller.images[0]?.image" class="camera"><img src="assets/images/boy_shirt_1.png">
                                </figure>
                            </div>
                            <div class="box_text">
                                <h4> Saim Kumar </h4>
                            </div>
                        </div> -->
                    <!-- </ng-template> -->
                    </div>

                <!-- </owl-carousel-o> -->
            </div>

            <ngx-skeleton-loader count="5" appearance="circle" animation="progress" *ngIf="Isloader" [theme]="{ 
                width:'200px',
                'border-radius': '5px',
               height: '200px',
               
               border: '1px solid white'
             }"></ngx-skeleton-loader>
        </div>
    </div>
    <!------recommend-->
    <!-----------------top_selection-->
    <div class="top_selection all_sec custom_navarrow" *ngIf="celebritydata?.length > 0">
        <div class="conta_iner">
            <div class="title_bar heading_bb">
                <h2> {{"language == 'en'" ? celebrity_endorsed?.name : celebrity_endorsed?.name_ar | translate}} </h2>
                <a (click)="seeAllcelebrity()">{{language == 'en' ? see_all?.name : see_all?.name_ar }} </a>
            </div>
        </div>
        <div class="conta_iner">
            <ul class="cstm_lst" *ngIf="celebritydata?.length < 5">
                <li *ngFor="let recommended of celebritydata;let i = index;"> 
                    <div style="cursor: pointer;" class="selection_mains Product_box">
                        <div class="selection_main_box2">
                            <div class="selection_main">
                                <div class="hm_restur_rateing" *ngIf="recommended?.avgRatings != 0">
                                    <figure><img alt="" style="cursor: pointer;" src="assets/images/star.png"></figure>
                                    <span>{{recommended?.avgRatings}}</span>
                                </div>
                                <div class="like" *ngIf="!recommended?.isFavourite" (click)="addfavlist(recommended._id)">
                                    <figure><img style="cursor: pointer;" src="assets/images/like.png"></figure>
                                </div>
                                <div class="like" *ngIf="recommended?.isFavourite" (click)="addfavlist(recommended._id)">
                                    <figure><img src="assets/images/like_red.png"></figure>
                                </div>
                            </div>

                            <!-- <figure (click)="gotoproductDetails(recommended?._id)" *ngIf="!recommended.images[0]?.image" class="camera"><img style="cursor: pointer;" src="assets/images/noimage.png"></figure> -->
                            <figure (click)="gotoproductDetails(recommended?._id)" *ngIf="recommended.images[0]?.image" class="camera camera2"><img style="cursor: pointer;" [src]="imgurl + recommended.images[0]?.image">
                            </figure>
                        </div>
                        <div class="box_text">
                            <h4> {{recommended.currency}} {{recommended?.price - recommended?.price * recommended?.discount / 100 | number :'1.0-1'}}<span *ngIf="recommended?.discount > 0" class="old_rate"> {{recommended?.currency}}{{recommended?.price | number :'1.0-1'}} </span>                                    <span class="discount_off" *ngIf="recommended?.discount > 0"> {{recommended?.discount}}% off </span> </h4>
                            <h3> {{language == 'en' ? recommended?.name : recommended?.name_ar }} </h3>
                            <h5>
                                {{language == 'en' ? recommended?.brand?.name : recommended?.brand?.name_ar }} </h5>
                        </div>
                    </div>
                </li>
            </ul>
            <owl-carousel-o [options]="customRecommended"  *ngIf="celebritydata?.length >= 5" >
                <ng-container *ngFor="let recommended of celebritydata;let i = index;">
                    <ng-template carouselSlide [id]="recommended.id">
                        <div style="cursor: pointer;" class="selection_mains Product_box">
                            <div class="selection_main_box2">
                                <div class="selection_main">
                                    <div class="hm_restur_rateing" *ngIf="recommended?.avgRatings != 0">
                                        <figure><img alt="" style="cursor: pointer;" src="assets/images/star.png"></figure>
                                        <span>{{recommended?.avgRatings}}</span>
                                    </div>
                                    <div class="like" *ngIf="!recommended?.isFavourite" (click)="addfavlist(recommended._id)">
                                        <figure><img style="cursor: pointer;" src="assets/images/like.png"></figure>
                                    </div>
                                    <div class="like" *ngIf="recommended?.isFavourite" (click)="addfavlist(recommended._id)">
                                        <figure><img src="assets/images/like_red.png"></figure>
                                    </div>
                                </div>

                                <!-- <figure (click)="gotoproductDetails(recommended?._id)" *ngIf="!recommended.images[0]?.image" class="camera"><img style="cursor: pointer;" src="assets/images/noimage.png"></figure> -->
                                <figure (click)="gotoproductDetails(recommended?._id)" *ngIf="recommended.images[0]?.image" class="camera camera2"><img style="cursor: pointer;" [src]="imgurl + recommended.images[0]?.image">
                                </figure>
                            </div>
                            <div class="box_text">
                                <h4> {{recommended.currency}} {{recommended?.price - recommended?.price * recommended?.discount / 100 | number :'1.0-1'}}<span *ngIf="recommended?.discount > 0" class="old_rate"> {{recommended?.currency}}{{recommended?.price | number :'1.0-1'}} </span>                                    <span class="discount_off" *ngIf="recommended?.discount > 0"> {{recommended?.discount}}% off </span> </h4>
                                <h3> {{language == 'en' ? recommended?.name : recommended?.name_ar }} </h3>
                                <h5>
                                    {{language == 'en' ? recommended?.brand?.name : recommended?.brand?.name_ar }} </h5>
                            </div>
                        </div>

                    </ng-template>
                </ng-container>

            </owl-carousel-o>
            <div class="item">
                <ngx-skeleton-loader count="4" appearance="circle" animation="progress" *ngIf="Isloader" [theme]="{ 
                    width:'250px',
                    'border-radius': '5px',
                   height: '250px',
                   
                   border: '1px solid white'
                 }"></ngx-skeleton-loader>
            </div>
        </div>
    </div>
    <div class="home_appliance_banne all_sec">
        <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let slide of bannerdata;let i = index;">
                <ng-template carouselSlide [id]="slide.id">
                    <img [src]="imgurl+slide.image" (click)="bannerpage(slide)" [alt]="slide.alt">
                </ng-template>
            </ng-container>
        </owl-carousel-o>
        <!-- <figure >
            <img [src]="imgurl+bannerdata?.image">
        </figure> -->
        <ngx-skeleton-loader count="1" appearance="circle" animation="progress" *ngIf="Isloader" [theme]="{ 
            width:'100%',
            'border-radius': '5px',
           height: '290px',
           
           border: '1px solid white'
         }"></ngx-skeleton-loader>
    </div>
    <div class="banner_sec all_sec">
        <div class="conta_iner">
            <ul>
                <li *ngFor="let static of offerdata">
                    <a>
                        <figure (click)="bannerpage(static)" class="camera"><img [src]="imgurl+static?.image"></figure>
                    </a>
                </li>
            </ul>
            <div class="item">
                <ngx-skeleton-loader count="3" appearance="circle" animation="progress" *ngIf="Isloader" [theme]="{ 
                    width:'370px',
                    'border-radius': '5px',
                   height: '200px',
                   
                   border: '1px solid white'
                 }"></ngx-skeleton-loader>
            </div>
        </div>
    </div>
    <div class="top_selection all_sec custom_navarrow">
        <div class="conta_iner">
            <div class="title_bar heading_bb">
                <h2> {{language == 'en' ? top_sellers?.name : top_sellers?.name_ar}} </h2>
                <a (click)="goTosellerindex()"> {{language == 'en' ? see_all?.name : see_all?.name_ar }} </a>
            </div>

        </div>
        <div class="conta_iner slic_cstm">
            <!-- <owl-carousel-o [options]="customRecommended2"> -->
            <div class="slick-container">
                <ng-container *ngFor="let bestseller of sellerdata;let i = index;">
                    <!-- <ng-template carouselSlide [id]="bestseller.id"> -->
                    <div (click)="goTocelebrityprofile(bestseller)" style="cursor: pointer;" class="selection_mains celebrity_box">
                        <div class="selection_main_box2">
                            <figure *ngIf="!bestseller.profilePic" class="camera"><img style="cursor: pointer;" src="assets/images/default.png"></figure>
                            <figure *ngIf="bestseller.profilePic" class="camera"><img [src]="imgurl+bestseller.profilePic">
                            </figure>
                        </div>
                        <div class="box_text">
                            <h4>{{bestseller.firstName}} {{bestseller.lastName}} </h4>
                        </div>
                    </div>

                </ng-container>
            </div>
            <!-- </owl-carousel-o> -->
            <div class="item">
                <ngx-skeleton-loader count="5" appearance="circle" animation="progress" *ngIf="Isloader" [theme]="{ 
                    width:'200px',
                    'border-radius': '5px',
                   height: '200px',
                   
                   border: '1px solid white'
                 }"></ngx-skeleton-loader>
            </div>
        </div>
    </div>
    <div class="top_selection all_sec Brand_sec custom_navarrow">
        <div class="conta_iner">
            <div class="title_bar heading_bb">
                <h2>{{"DASHBOARD.ENDROS" | translate}}</h2>
                <a (click)="goTobrandindex()"> {{language == 'en' ? see_all?.name : see_all?.name_ar }} </a>
            </div>
        </div>
        <div class="conta_iner">
            <ul class="cstm_lst" *ngIf="branddata?.length < 5">
                <li *ngFor="let bestseller of branddata;let i = index;"> 
                    <div style="cursor: pointer;" class="selection_mains">
                        <div class="selection_main_box2">
                            <!-- <figure *ngIf="bestseller?.image" class="camera1"><img src="assets/images/B_model_1.png" alt="model">
                            </figure> -->
                            <figure (click)="gotforbrand(bestseller?._id)" class="brand_img"><img [src]="imgurl + bestseller.image" alt="Brand">
                            </figure>
                        </div>
                    </div>    
                </li>
            </ul>
            <owl-carousel-o [options]="customBrand" *ngIf="branddata?.length >= 5">
                <ng-container *ngFor="let bestseller of branddata;let i = index;">
                    <ng-template carouselSlide [id]="bestseller.id">
                        <div style="cursor: pointer;" class="selection_mains">
                            <div class="selection_main_box2">
                                <!-- <figure *ngIf="bestseller?.image" class="camera1"><img src="assets/images/B_model_1.png" alt="model">
                                </figure> -->
                                <figure (click)="gotforbrand(bestseller?._id)" class="brand_img"><img [src]="imgurl + bestseller.image" alt="Brand">
                                </figure>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>

            </owl-carousel-o>
            <div class="item">
                <ngx-skeleton-loader count="5" appearance="circle" animation="progress" *ngIf="Isloader" [theme]="{ 
                    width:'200px',
                    'border-radius': '5px',
                   height: '200px',
                   
                   border: '1px solid white'
                 }"></ngx-skeleton-loader>
            </div>


        </div>
    </div>
    <div class="top_selection all_sec top_product custom_navarrow">
        <div class="conta_iner">
            <div class="title_bar heading_bb">
                <h2> {{"DASHBOARD.TOPP" | translate}} </h2>
                <a (click)="checktopproduct()"> {{language == 'en' ? see_all?.name : see_all?.name_ar }} </a>
            </div>
        </div>
        <div class="conta_iner">
            <ul class="cstm_lst" *ngIf="picksdata?.length < 5">
                <li *ngFor="let recommended of picksdata;let i = index;"> 
                    <div style="cursor: pointer;" class="selection_mains Product_box">
                        <div class="selection_main_box2">
                            <div class="selection_main">
                                <div class="hm_restur_rateing" *ngIf="recommended?.avgRatings != 0">
                                    <figure><img alt="" style="cursor: pointer;" src="assets/images/star.png"></figure>
                                    <span>{{recommended?.avgRatings | number :'1.0-1'}}</span>
                                </div>
                                <div class="like" *ngIf="!recommended?.isFavourite" (click)="addfavlist(recommended._id)">
                                    <figure><img style="cursor: pointer;" src="assets/images/like.png"></figure>
                                </div>
                                <div class="like" *ngIf="recommended?.isFavourite" (click)="addfavlist(recommended._id)">
                                    <figure><img src="assets/images/like_red.png"></figure>
                                </div>
                            </div>
                            <figure (click)="gotoproductDetails(recommended?._id)" *ngIf="!recommended.images[0]?.image" class="camera"><img style="cursor: pointer;" src="assets/images/default.png"></figure>
                            <figure (click)="gotoproductDetails(recommended?._id)" *ngIf="recommended.images[0]?.image" class="camera camera2"><img style="cursor: pointer;" [src]="imgurl + recommended.images[0]?.image">
                            </figure>
                        </div>
                        <div class="box_text">
                            <h4> {{recommended.currency}} {{recommended?.price - recommended?.price * recommended?.discount / 100 | number :'1.0-1'}}<span *ngIf="recommended?.discount > 0" class="old_rate"> {{recommended?.currency}}{{recommended?.price | number :'1.0-1'}} </span>                                    <span class="discount_off" *ngIf="recommended?.discount > 0"> {{recommended?.discount}}% off </span> </h4>
                            <h3> {{language == 'en' ? recommended?.name : recommended?.name_ar }} </h3>
                            <h5>
                                {{language == 'en' ? recommended?.brand?.name : recommended?.brand?.name_ar }} </h5>
                        </div>
                    </div> 
                </li>
            </ul>
            <owl-carousel-o [options]="customRecommended" *ngIf="picksdata?.length >= 5">
                <ng-container *ngFor="let recommended of picksdata;let i = index;">
                    <ng-template carouselSlide [id]="recommended.id">
                        <div style="cursor: pointer;" class="selection_mains Product_box">
                            <div class="selection_main_box2">
                                <div class="selection_main">
                                    <div class="hm_restur_rateing" *ngIf="recommended?.avgRatings != 0">
                                        <figure><img alt="" style="cursor: pointer;" src="assets/images/star.png"></figure>
                                        <span>{{recommended?.avgRatings | number :'1.0-1'}}</span>
                                    </div>
                                    <div class="like" *ngIf="!recommended?.isFavourite" (click)="addfavlist(recommended._id)">
                                        <figure><img style="cursor: pointer;" src="assets/images/like.png"></figure>
                                    </div>
                                    <div class="like" *ngIf="recommended?.isFavourite" (click)="addfavlist(recommended._id)">
                                        <figure><img src="assets/images/like_red.png"></figure>
                                    </div>
                                </div>
                                <figure (click)="gotoproductDetails(recommended?._id)" *ngIf="!recommended.images[0]?.image" class="camera"><img style="cursor: pointer;" src="assets/images/default.png"></figure>
                                <figure (click)="gotoproductDetails(recommended?._id)" *ngIf="recommended.images[0]?.image" class="camera camera2"><img style="cursor: pointer;" [src]="imgurl + recommended.images[0]?.image">
                                </figure>
                            </div>
                            <div class="box_text">
                                <h4> {{recommended.currency}} {{recommended?.price - recommended?.price * recommended?.discount / 100 | number :'1.0-1'}}<span *ngIf="recommended?.discount > 0" class="old_rate"> {{recommended?.currency}}{{recommended?.price | number :'1.0-1'}} </span>                                    <span class="discount_off" *ngIf="recommended?.discount > 0"> {{recommended?.discount}}% off </span> </h4>
                                <h3> {{language == 'en' ? recommended?.name : recommended?.name_ar }} </h3>
                                <h5>
                                    {{language == 'en' ? recommended?.brand?.name : recommended?.brand?.name_ar }} </h5>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
            <div class="item">
                <ngx-skeleton-loader count="5" appearance="circle" animation="progress" *ngIf="Isloader" [theme]="{ 
                    width:'200px',
                    'border-radius': '5px',
                   height: '200px',
                   
                   border: '1px solid white'
                 }"></ngx-skeleton-loader>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
<!-- <banner-example-dialog (newItemEvent)="closedialog($event)"></banner-example-dialog> -->


<!-- <<<<<-------------next modal---------->