<div class="modal" id="myModal" *ngIf="isloggin == null">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <!-- <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
             
            </div> -->
            <table align="center" bgcolor="#EAECED" border="0" class="login_msg" cellpadding="0" cellspacing="0" style="margin: 0px auto;background: #7b1930; font-family: Arial, Helvetica, sans-serif;padding:20px 20px;
            box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28); text-align: center;">
                <tbody>
                    <tr style="width: 100%;border-bottom: 1px solid #7b1930;display: flex;text-align: center;padding-top: 30px;">
                        <td style=" width: 100%;">
                            <figure style="margin: 0px; margin-bottom: 20px;"><img style="width: 80px;" src="assets/images/logo.svg" alt="logo"></figure>
                        </td>
                    </tr>
                    <!-- <tr style="width: 100%; display: block;">
                    <td style="width: 100%; display: inline-block; text-align:center; ">
                        <img width="500px" src="image/congrats.png" alt="">
                    </td>
                </tr> -->
                    <tr style="width: 100%; display: block;">
                        <td style="color: #fff; font-size: 18px; font-weight: 500; margin-top: 10px; width: 100%; display: inline-block; ">
                            {{"DASHBOARD.LOGINPOP" | translate}}
                        </td>
                    </tr>
                    <tr style="width: 100%; display: block;padding-top: 20px;padding-bottom: 30px;">
                        <td style=" color:#fff; font-size: 16px; font-weight: 600; width: 100%; display: inline-block;">
                            <a style="color: #fff; text-decoration: underline;" (click)="goTologin()"> {{"DASHBOARD.CLICK" | translate}} </a> &nbsp; {{"DASHBOARD.TOLOGIN" | translate}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- Modal body -->

        </div>
    </div>
</div>